[2013-05-20 21:51] vinnyjth opened #1 "Value of "scale" is undefined in image-drawing.js"
In Image-drawing.js on line 129 x and y are both divided by "scale", but I can't seem to find where you define scale. I would issue a pull request, but with trial and error I have been unable to find what the value of scale should be.

I tried changing scale to "this.scale" which ran without errors, but gave very odd results when trying to view any images.

[2013-05-20 21:56] collinhover commented on #1
Thanks for opening the issue! I'm fairly certain that r4 fixes this, as I've run into the same problems you mentioned. I'll leave the issue open for now and we can revisit once I push r4 later this week.

[2013-05-20 23:15] collinhover commented on #1
In the meantime, you can edit the following line:

https://github.com/collinhover/impactplusplus/blob/master/lib/plusplus/core/image-drawing.js#L99

and prepend "var scale =" to it. That said, there are still other fixes to image-drawing coming.

[2013-05-20 23:43] vinnyjth commented on #1
I performed that change, and a basic level ran without errors, except for a few graphic issues:

My 16_16 sprite-sheet only worked if I defined it as an 8_8 tile sheet, I couldn't seem to get the animations to work properly, but they may be an issue on my end.

All tiles on my tile-sheet were wrong; tiles that were ordinarily grass showed up as dirt for example.

I can't wait to see r4! You should

[2013-05-21 02:11] collinhover commented on #1
In reply to the sprite sheet, are you saying 16 x 16 is the total width x height of the image file, or that the tiles are 16 x 16? If the tiles are 8 x 8, then "new ig.AnimationSheet( "path.png", 8, 8 )" is correct, as the 2nd and 3rd parameters are actually the tile size, not the sheet size. In the Impact source code it is named in such a way as to suggest otherwise, which is confusing. Would tha

[2013-05-21 03:14] vinnyjth commented on #1
The size of the actual tiles on the tile sheet are 16*16. The code works in other settings, just doesn't seem to work here.

[2013-05-21 03:19] collinhover commented on #1
Do you have the code in question available anywhere? It'd help if I could take a look, in case there is some bug I missed.

[2013-05-26 21:54] collinhover commented on #1
r4 is up, assuming this is fixed. Reopen if not and we'll figure it out!

[2013-05-26 21:54] #1 closed, assigned to nobody

[2013-05-30 19:20] raygerrard opened #2 "current anim not being set to jump and fall"
please see fiddle: http://jsfiddle.net/gbMCQ/

line 1588 of character.js, this.ungrounded is never true, the current animated is never set to jump or fall when a jump occurs.

[2013-05-31 01:22] collinhover commented on #2
Working on it now, thanks for catching this! More soon.

[2013-05-31 01:25] collinhover opened #3 "Loading and changing to a new level does not properly clear all entities from last."
Looks like at least the player entity from the previous level is sticking around after swapping to a new level. This is causing issues with abilities trying to refer to the old player entity and not the new.

[2013-05-31 02:04] collinhover opened #4 "Level editor does not integrate user config."
When using Weltmeister, user config is not merged into Impact++ config, which causes problems with entity placement when using offsets.

[2013-05-31 02:32] collinhover commented on #3
Should be working as expected!

[2013-05-31 02:32] #3 closed, assigned to collinhover

[2013-05-31 13:56] collinhover commented on #2
Looks like the problem was a dead property I forgot to clean up when refactoring. Should be working on dev branch, which I'll merge into master once I've got issue #4 fixed. Reopen if not!

[2013-05-31 13:56] #2 closed, assigned to collinhover

[2013-05-31 15:49] collinhover commented on #4
Hate to force user to edit library directly, but I don't see another way to get Weltmeister/editor to pick up the custom configuration. At least we can split config into a primary for the library and a secondary for the user (which is never modified by Impact++).

I'd thought about requiring a file in the user's 'lib/game' directory, but that seems like it may cause more problems than it is worth,

[2013-05-31 15:49] #4 closed, assigned to collinhover

[2013-05-31 15:51] collinhover opened #5 "UIMeter sometimes throws errors when drawing values of 0 or 1."
Looks like when ig.CONFIG.SCALE is 1, a UIMeter will throw errors during draw when its value is at min or max (0 or 1).

[2013-05-31 16:27] #5 closed, assigned to collinhover

[2013-06-03 16:14] lzaiats opened #9 "UIInteractive - activate method not working with Ejecta"
I am writing my code like this:

{

ig.UIButton = ig.UIInteractive.extend({

[code]

});

MyGame = ig.GameExtended.extend({

[code]

});

}

When i run this code on Ejecta and i click (touch) the button, nothing happens... I don't know if i am using it the wrong way or if it's not working properly... :)

[2013-06-03 16:24] collinhover commented on #9
Thanks for posting the issue. Some questions to help us figure this out:
1. Do you have a player entity in the game?
2. Does it work in the browser, i.e. not using Ejecta?

edit: I have a feeling the first question is the problem. I just made a test level with no player and a button, and the button does not work. It appears I built the interaction with a button into the 'abstractities/player' clas

[2013-06-03 16:27] lzaiats commented on #9
I don't have a player entity, because i am writing my main menu interface right now and i am not supposed to have a player on screen :)

I am programming directly on Ejecta, but i can try on the browser...

[2013-06-03 16:28] collinhover commented on #9
Yeah the problem is not on your end, it is the way that Impact++ fundamentally handles interaction and requires the player entity. This is actually a bad design on my part. I will work on a fix today and push to the dev branch as soon as I can.

[2013-06-03 16:39] lzaiats commented on #9
Hmmm... OK! I will wait :)

[2013-06-03 18:31] collinhover commented on #9
Okay, on the dev branch UI interaction is now inside the game class, which fixes the bad design decisions. I tested several UI elements, pausing game, changing levels, using player abilities, etc, and it appears to be error free on my end. This does change some of the API unfortunately, but it is necessary. Does this fix the issue for you?

[2013-06-03 19:22] lzaiats commented on #9
Hmmm... Ive updated my lib with the dev tree and it's still not working... If you can give me a simple scenario of a Game instantiating a UIInteractive and handling the "click/touch" event would be nice! Sorry for the inconvenience, but i still can't get this working...

[2013-06-03 21:02] collinhover commented on #9
Its not an inconvenience!

Using the "Getting Started" code at: http://collinhover.github.io/impactplusplus/

Try the following in your "main.js" module ( or wherever you extend ig.GameExtended):

[code]

I have no player in the test level and when I click the pause toggle button everything works as expected. That said, it does require a level to work, and I have no menus in the game I've been wor

[2013-06-03 21:09] collinhover commented on #9
I've changed it so UI elements work without a level. Can you try again now?

[2013-06-03 21:59] raygerrard opened #11 "jump velocity doubles when adding multiple player entities"
I created two different player entities and set player2.controllable = false; player1 is not rendered to the canvas and neither entity is controllable. when setting player2.controllable = true; player 2 is rendered but the speed of movement is doubled for both grounded and ungrounded actions. it appears that multiple player entities cannot be on the same level.

[2013-06-03 22:07] collinhover commented on #11
Hmm I did not expect there to be a need for more than one player. Why do you need two player entities? Have you checked if setting controllable is affecting the player prototype object? Also the player class has a name property of "player" for fast retrieval/searching of the player, and names should be unique.

[2013-06-03 22:16] raygerrard commented on #11
In my game  there are multiple players with different abilities and you switch between them. The name property was causing the issue, it works when giving player2 a unique one.

Thanks.

[2013-06-03 22:20] collinhover commented on #11
Just a thought for performance, I would not have more than one player entity in the game in that case anyway, because both will be updated when only one needs it. Either consolidate all into one, for example you could have multiple ability sets that you swap between instead of player entities. Or create both player entities but keep all but the active one killed and stored in a pool.

[2013-06-03 22:26] raygerrard commented on #11
i need to keep both entities visible at all times, I could spawn kill then spawn a dumb entity but idle players should still respond to the environment. i.e if a collision is made they respond in different ways even when not currently controllable. I cannot see another way of achieving this without spawning multiple instances and toggling the entity the camera follows. How much do you think this w

[2013-06-03 23:36] raygerrard commented on #11
collision is not detected when two player entities overlap, both are set to type A, checks against BOTH and collides FIXED. By changing either one of these entities to extend from the Character class instead, collisions are detected as expected.

[2013-06-03 23:37] collinhover commented on #11
The player is just a character with extra input responses, so having multiple players should be no worse than multiple creatures or multiple kinematic entities really. Maybe I worry too much about performance :-)

[2013-06-03 23:38] collinhover commented on #11
The issue with no collisions is the GROUP. They are of the same group, and entities in the same group do not check or collide. This is particularly useful for projectiles.

[2013-06-04 00:06] raygerrard commented on #11
ok thanks Collin. I have fixed locally by adding a property to my player instances .checkAgainstAllGroups. I added a check to entity.js so the entity check method is called regardless if this property is set to true.

I can submit a pull request if you want this check in the library?

[2013-06-04 00:46] collinhover commented on #11
Actually you shouldn't need the extra property (I think). Since the "group" property is a bitwise flag, and the comparison is that !( a.group & b.group ), if you set your entities to have a "group" of 0, the comparison will always be true and then they will collide/check against all groups. ( 0 & any number ) is always 0, I believe, and you save yourself an extra check.

[2013-06-04 01:00] raygerrard commented on #11
your right that works, I had to add it after calling this.parent() in my init method as it calls this.initTypes() itself overwriting the default.

[2013-06-04 01:21] #11 closed, assigned to nobody

[2013-06-06 15:15] collinhover commented on #9
Assuming this is fixed with recent commits. Please reopen issue if not!

[2013-06-06 15:15] #9 closed, assigned to collinhover

[2013-06-13 11:12] ChrisCorrigan opened #16 "Trying to integrate it into my existing code"
Hi Collin, please see my latest reply here:

http://impactjs.com/forums/code/impact-library-75-additions/page/1#post24580

Re: I've worked my way through step 1 and 2 of the getting started guide, but I'm having issues with the entities not moving.

thanks
Chris

[2013-06-13 13:29] collinhover commented on #16
Check out the reply in the same thread. Did that fix your issue?

[2013-06-14 02:45] collinhover opened #17 "Player trying to create ability interact when does not require module first"
Looks like an error caused by refactoring, I left the require for ig.AbilityInteract in my own game's player instead of Impact++'s player.

[2013-06-14 02:46] #17 closed, assigned to collinhover

[2013-06-14 06:11] collinhover commented on #16
Hey Chris, I've just added a Jump N' Run demo to the examples directory. Check it out, I think it will solve all of your confusion!

[2013-06-14 06:11] #16 closed, assigned to nobody

[2013-06-14 15:32] ChrisCorrigan commented on #16
Thats great! That will definitely help a lot.

[2013-06-22 19:15] ChrisCorrigan commented on #16
Hi Colin - please see my latest reply here if have time
http://impactjs.com/forums/code/impact-library-75-additions/page/1#post24674

[2013-06-28 14:07] collinhover commented on #16
FPS Issue should be solved.

[2013-06-28 17:43] ChrisCorrigan commented on #16
Thanks! I just send you a private message through the impact site btw.

[2013-06-28 22:55] ChrisCorrigan commented on #16
er its not a priv msg in github, but it should have emailed you my msg.

[2013-06-29 17:51] collinhover opened #22 "Prerendered background maps should be merged to improve performance."
Background maps in the same layer that are prerendered have no need to remain separate. We can reduce the draw calls by 2-6x just by merging these maps into a single map.

[2013-06-29 17:51] collinhover opened #23 "Debug maps panel does not show background maps when it should."
Debug panels just needs an update to gather the maps correctly from the layers.

[2013-06-29 17:53] #23 closed, assigned to nobody

[2013-06-29 17:54] #22 closed, assigned to nobody

[2013-06-30 20:41] collinhover opened #24 "Camera transition causing jittery post transition movement."
Camera transition can cause camera to slowly jitter in direction of transition after transition completes.

[2013-06-30 20:43] #24 closed, assigned to collinhover

[2013-07-06 22:16] nraibaud opened #25 "BackgroundMap repeat make some bugs"
Whena i set a background of 1x32 @32 with repeat property, i have this problem:
- camera jumps
- Background does not repeat well

When turning of repeat, all is fine.

[2013-07-06 23:11] collinhover commented on #25
I would guess the camera jumping is an unrelated issue, and I'll push some changes soon to fix some camera bugs. I'll take a look into this and see if I can replicate the issue.

Can you post an image of the issue on your end please?

[2013-07-06 23:26] nraibaud commented on #25
http://pbrd.co/1abkBJg
Seems to bug when resizing...
Because i try with a largest background repeat and when camera is at the end of the background size it make a whole and after re render the background for repeat.

[2013-07-07 23:04] collinhover opened #26 "Ability casting effect sometimes does not get removed properly"
Seems that reusing the ability cast effect entity is causing problems where the entity gets added after it was killed, causing it to remain in the game and not be removed properly.

[2013-07-07 23:08] #26 closed, assigned to collinhover

[2013-07-08 17:16] collinhover opened #27 "Not all entities die silently as expected."
Looks like some entity classes ignore the silent parameters, and this is causing issues where they do not die silently when they should.

[2013-07-08 17:18] collinhover opened #28 "Triggers should chain to other triggers."
Currently, triggers will only activate their targets. If one of these targets is a trigger, activating it will not trigger it, which stops the trigger chain. Triggers should chain to each other, but they should not chain infinitely.

[2013-07-08 17:33] #28 closed, assigned to collinhover

[2013-07-08 17:34] #27 closed, assigned to collinhover

[2013-07-08 17:53] collinhover commented on #25
Looks like the issue was with the background map merging I added to improve performance, which does not work well with repeating backgrounds. The merge with repeat made it look like the camera was jumping, but it was actually the background rendering wrong.

Did the last commit (on the dev branch) fix the issue for you?

[2013-07-09 06:15] racingcow opened #30 "'stop' and 'once' parameters specified in EntityExtended.animSettings are ignored"
The `stop` or `once` parameters in animSettings are being ignored on an entities that extend ig.EntityExtended.

In the following entity, for example, the `defaultAnim` animation will repeat instead of playing once and then stopping.

[code]

I added a pull request https://github.com/collinhover/impactplusplus/pull/29. It should resolve this issue.

[2013-07-09 16:25] collinhover commented on #30
Thanks for finding this issue! I've actually added a reverse option to animations, and it had the same issue you pointed out. I found a few other related fixes as I was working with your changes, so I've merged your fixes into this last commit. Seems to be working as expected... give the latest version of the dev branch a try and if it doesn't fix the problem please reopen this issue.

[2013-07-09 16:25] #30 closed, assigned to collinhover

[2013-07-10 02:57] racingcow commented on #30
I pulled the dev branch, and it is working great. Thanks, @collinhover .

[2013-07-10 04:08] #25 closed, assigned to collinhover

[2013-07-13 11:37] nraibaud commented on #25
No the background does not repeat :/

[2013-07-13 20:56] collinhover commented on #25
Using the dev branch?

Can you email me a zip file of your game? I'm not sure what is causing the issue for you... everything works on all the tests I've run on my end.

[2013-08-09 14:45] collinhover opened #32 "Defer level and level asset loading until level first activated"
@Vassildador brought up the idea of a deferred loading of level js file and assets until the level is first activated in #31. This would cut down initial load time greatly. Potentially instead of loading the next level when it is activated, we could search the level for level change trigger and preload that level? If none is found, we could either do nothing or preload all remaining levels while t

[2013-08-14 22:46] bdaenen opened #34 "Locking the camera inside the level"
Currently there is no feature to lock the camera to the level. This is especially useful for top-down games, where getting to the edge of a level currently results into big black borders around the level.

[2013-08-15 00:18] bdaenen commented on #34
I currently have this working locally by calculating the min and max X and Y coordinates the camera should stay within and overwriting the `screenNextX` and `screenNextY` when necessary in Camera's `updateFollow()` with these values. The calculation of these coordinates is based on the collision layer of the level and is called in GameExtended's `buildLevel()` and `resize()`.

I do have a small qu

[2013-08-15 01:41] collinhover commented on #34
The camera's `bounds` and `boundsPct` properties are actually camera trap areas. If I understand the concept of a trap right, as long as the follow target of the camera stays inside the trap area, the camera doesn't need to move, which makes for a much better camera experience in most cases. In an effort to avoid confusion, perhaps we should rename them to `trapBounds` and `trapBoundsPct`?

Off th

[2013-08-15 13:51] bdaenen commented on #34
I understood it's the trap, but it's probably a good idea to rename it like that indeed, I'll do that before I send you a pull request :)

As for the calculation and the `trapBounds`, I'll try to explain:

The width of the map is calculated as `collisionMap.width * collisionMap.tilesize` where `collisionMap.width` is the amount of horizontal tiles and the `collisionMap.tileSize` is the amount of p

[2013-08-15 14:20] nakanaa opened #37 "Possibility to set margins on the canvas?"
I wanted my canvas to be fullscreen (GAME_WIDTH_PCT = 1 & GAME_WIDTH_PCT = 1) but leave space for a 200px sidebar. For it, I added these to config-user.js:

[code]

and edited core/game.js resize function:

[code]

I think this would be a good addition to Impact++ itself. Didn't make a pull request at least yet because I wasn't sure if you'd want this in.

[2013-08-15 15:06] collinhover commented on #34
Thanks for the explanation and images (and for breaking your head on this!). Interesting that the trap affects it so, but I'll admit I didn't actually try the simpler method I mentioned. Are you also clamping the screen when it is shaking so it doesn't shake outside the level?

[2013-08-15 15:17] bdaenen commented on #34
Currently it'll still shake out of the screen. It didn't look too bad to me but I guess I could also clamp `screen.x` & `screen.y` in `updateFollow`. It could possibly be done in the calculation but it'll probably end up more complex and less performant :)

[2013-08-15 15:36] collinhover commented on #37
I wouldn't mind having this functionality, thanks for submitting the idea! However, it looks as if your margin setup only affects the game when the screen size is set by a percent of the window size, and it only puts the margin on the right and/or bottom. We'd need to add config options to set the margins on any side and it seems like we'd also need to modify the CSS of the canvas?

[2013-08-15 15:38] collinhover commented on #34
If you think it looks fine without clamping the screen on shake, I'm okay with it either way at this point. On a related note, what happens to the camera when the level is smaller than the screen?

[2013-08-15 16:36] bdaenen commented on #34
Ok, let's hope GH doesn't go down again :)

Currently when the level is smaller, it will automatically disable the `keepInsidelevel`. When the recalculation happens (level transition or resize) it will turn it back to the value from the config. One minor improvement I can think of is splitting `keepInsideLevel` up in an X and a Y part inside `CameraExtended`, for cases where you have a level that

[2013-08-15 16:42] collinhover commented on #34
Hmm, that makes sense, good catch. Glad we can get this in for r5 release.

[2013-08-15 20:59] bdaenen commented on #34
Pull request submitted, see https://github.com/collinhover/impactplusplus/pull/38 :)

[2013-08-16 00:14] #34 closed, assigned to nobody

[2013-08-16 01:12] collinhover commented on #34
I took a look after merging the PR and everything seems pretty good. I realized my suggestion to rename `bounds` to `trapBounds` should have been `boundsTrap` to follow the general naming conventions in Impact++ so far. I also renamed the config values to follow, and noticed the `boundsTrap` was getting overwritten by `boundsTrapPct`, so I had to add a boolean to let users turn that on. I did some

[2013-08-16 07:58] bdaenen commented on #34
I'll give it a look when I get home (I'm guessing around 3 more hours). Time differences are quite annoying :)

[2013-08-16 14:50] bdaenen commented on #34
Yeah, I'm noticing similar issues here. The Camera moves to my Player Entity, and upon reaching it other Entities "pop" up along with some tiles that weren't there before as the Camera makes a "jump". I'll look into it :/

Edit: Never mind... this was apparently my own fault for accidentally overwriting the Player's `name` property in my debug level :smiley: I'm currently not having the issues you

[2013-08-16 15:18] collinhover commented on #34
Thanks for checking. I'll fix both issues today. Have a good vacation!

[2013-08-16 16:26] collinhover commented on #34
Fixed the idle fallback by checking for idle when character is first created and if not present using the current animation to fill it as a placeholder. Not the ideal situation, but previously sidescrolling allowed the fallback to an idle animation while top down did not. It did change with #36, when it was pointed out that top down should have idle as well. Its a bit of a rock and a hard place, b

[2013-08-16 16:30] collinhover commented on #34
I found that the camera appearing to "jump" or the entities and background popping in was caused by my game code specifically. I was loading a test level after the initial load, so the main loader decided it was done and faded out. Then while loading the test level I just had a blank screen. Once I moved the test level require into the initial load list it worked as expected and the main loader fa

[2013-08-16 20:26] bdaenen commented on #34
Nice! :) I'll look into the lazy loading again once I'm back, if nobody else picked it up by then :) thanks for the amazing project, and I'm glad to be of some help!

[2013-08-17 13:16] TigerJ opened #39 "Creature Y Size and Wandering"
Creatures with size Y greater than 16 seem to stop wandering. This can be replicated in the demo by changing the spike to have a size Y greater than 16.

I'm trying to look down in the creature wandering blocks to see what is causing this. I should note this is in the DEV branch

[2013-08-17 14:04] collinhover commented on #39
Top down mode, side scrolling mode, or both?

[2013-08-17 14:43] TigerJ commented on #39
Only checked Side Scrolling mode.

[2013-08-17 15:18] collinhover commented on #39
I'll have time to check this out later today. I'm pretty sure that the issue is the creature thinks the next node in the wander path is ungrounded, and in this case spikes can't jump. So the creature is dumping the path because it isn't safe (it thinks it is going to fall off an edge). I'll need to account for that in the path movement code. Thanks for finding this!

[2013-08-17 15:37] TigerJ commented on #39
Thanks for being so active!

[2013-08-17 17:35] collinhover commented on #39
Okay, test with the latest commit. Does it work as intended?

[2013-08-18 02:44] #39 closed, assigned to nobody

[2013-08-18 15:17] TigerJ commented on #39
![image](https://f.cloud.github.com/assets/1319169/982726/4c7c7214-0819-11e3-8737-f81d28ab6ce3.png)

PERFECT

[2013-08-20 18:31] collinhover opened #41 "Spawners are not positioning spawned entities correctly"
It appears that after a spawner spawns an entity, it is waiting for an onAdded signal that doesn't happen. I don't think the spawner needs to wait for this, it should be able to finish the spawn immediately.

[2013-08-21 07:08] cnohara opened #42 "EntityPlayer Regen properties are not persisting across player respawns"
When an EntityPlayer dies and is respawned at a Checkpoint, the Regen properties are no longer in effect.  The same effect is seen when Regen properties are set on a Player, then a new level is loaded via ig.loadLevelDeferred().  Once the new level is loaded, the regen is no longer active.

[2013-08-21 19:32] collinhover commented on #42
Assuming this fixed it, let me know if not!

[2013-08-21 19:32] #41 closed, assigned to collinhover

[2013-08-22 01:29] collinhover opened #43 "Nothing ever collides"
It looks like when refactoring to move ig.Entity.COLLIDES to ig.EntityExtended.COLLIDES, something was forgotten and now nothing collides.

[2013-08-22 01:29] #43 closed, assigned to collinhover

[2013-08-23 00:24] collinhover opened #45 "ig.utilsvector2.pointsToConvexHull breaking in rare cases"
Error and sample code provided by @joncom:

[code]

[2013-08-23 00:27] #45 closed, assigned to collinhover

[2013-08-24 17:26] martypenner commented on #42
It seems that the player's energy is still not regenerating after the level load; it's just reset to the original, as you've mentioned. Using abilities with energy costs simply depletes the player's energy.

[2013-08-24 17:53] collinhover commented on #42
@encryptoknight just tested on my end and regeneration is working through multiple level loads. By default "regen" is set to false and "regenRateEnergy" is 0. Can you give me more information from your setup that might be causing the issue?

[2013-08-25 13:09] netmute opened #46 "Pathfinding broken?"
I have an entity that should find it's path to a point in another room. It can only get there by climbing a ladder, which it does, but it doesn't go up all the way. Instead, it tries to move right into the platform it should be walking on.

This is the situation:
![bildschirmfoto 2013-08-25 um 15 01 04](https://f.cloud.github.com/assets/574582/1022389/003eebc0-0d87-11e3-9763-a1495c5c3fe7.png)

The

[2013-08-25 13:59] collinhover commented on #46
That point in the screenshot is getting flagged as a corner, and there is special behavior in place to try and get around corners without getting stuck. However, this tends to work best when the character is between 1 to 3 tiles in size. What looks to be happening here is that the character is moving and cannot get to where it needs to be before another pathfinding tick refreshes the path.

I've n

[2013-08-25 14:17] collinhover commented on #46
Let me explain a bit more about pathfinding maps... set a layer's name to "pathfinding" in the editor to have the game automatically set it as a pathfinding map, and use the tileset "media/pathfindingtiles_plusplus_*.png" that comes with Impact++. In your case, draw green pathfinding tiles on the ladders (but not on the gaps next to them), as well as a little more than half a character height abov

[2013-08-26 02:39] collinhover commented on #37
Closing for now due to inactivity. If you get the feature worked out, please submit a pull request!

[2013-08-26 02:39] #37 closed, assigned to nobody

[2013-08-26 12:52] racingcow commented on #46
Thanks for the explanation, Collin. I have the same issue (32x32 entities and 8x8 collision tiles, and this should help. I didn't know about pathfinding map support until now. I'll give that a try.

[2013-08-26 14:40] collinhover commented on #46
In case someone does want to try to fix this, the relevant methods are (in execution order):

ig.Character.findMoveToPath()
https://github.com/collinhover/impactplusplus/blob/master/lib/plusplus/abstractities/character.js#L935

ig.pathfinding.getPathTo()
https://github.com/collinhover/impactplusplus/blob/master/lib/plusplus/helpers/pathfinding.js#L741

ig.Character.moveToPath()
https://github.com/

[2013-08-26 20:00] collinhover commented on #42
@cnohara posted that this issue may still be present only when spawning the player via the game's `spawnEntity` method, as opposed to placing the player in a level in weltmeister. Is this your situation @encryptoknight?

[2013-08-26 21:35] racingcow commented on #46
I'll try and take a look tonight.

[2013-08-26 22:36] martypenner commented on #42
I'm going to try moving my player entity to another sandboxed game to better debug this. I'll see if I can get to it tonight.

[2013-08-26 23:55] martypenner commented on #42
Boy, I feel a little silly now. I had a forgotten player entity in my second level, so on level load, it was getting used instead of my previous entity.

However, it seems I don't quite understand the checkpoint system, as the player isn't spawned at all in the second level. I've got an `EntityLevelchange` in the first level with the `playerSpawnerName` property set to the name of the `EntityCheck

[2013-08-27 00:16] collinhover commented on #42
@encryptoknight by default, the player entity is persistent, and the way the game currently handles persistent entities is by storing the first instance of the persistent entity it encounters, and when the current level tries to spawn a new instance (i.e. you've placed it in the level via weltmeister or just make a spawn call), it replaces the new instance with the original instance. However, any

[2013-08-27 02:02] collinhover commented on #42
Alright, just ran tests with the following setup:
- player entity spawned in test 1 with weltmeister placement
- player entity spawned in test 2 by inserting a spawn call at the end of the game's buildLevel method

In both tests:
- player has 10 energy max and a regen rate of 0.1 energy per update
- player has an ability that uses 4 energy per use
- player uses the ability at random
- player dies

[2013-08-27 07:31] cnohara commented on #42
I see, thank you for testing this out.  Perhaps I am implementing it wrong.  I will try to prepare a new project to see if I can recreate the problem and then if so, send it to you.  To confirm, may I ask how to properly set up abilities that have energy costs along with regen?  I'm probably doing it wrong!

[2013-08-27 09:39] netmute commented on #46
Thanks for the explanation of pathfinding maps Collin!

I implemented them, but now pathfinding stops working completely. The entity isn't able to find a path at all. I marked the entire map as 'green' just to try if it works then, but got the same result.

[2013-08-27 13:13] collinhover commented on #42
I updated the jump n run demo to include both:

Ability cost
https://github.com/collinhover/impactplusplus/blob/dev/examples/jumpnrun/lib/game/abilities/grenade-launcher.js#L32

Regen
https://github.com/collinhover/impactplusplus/blob/dev/examples/jumpnrun/lib/game/entities/player.js#L166

[2013-08-27 13:21] collinhover commented on #46
@netmute that is surprising. And when you removed the pathfinding map, pathfinding worked again?

[2013-08-27 13:28] netmute commented on #46
@collinhover Exactly.

[2013-08-27 14:22] collinhover commented on #46
@netmute I just tested pathfinding without and with a pathfinding map added in the editor, on the most ridiculous platforming I could think of, without any problems. The bot was able to follow me best with the pathfinding map, but in both cases did fine. I can't reproduce the issue =( can you please send me a test case where it is doing what you describe?

[2013-08-28 05:23] netmute commented on #46
@collinhover I'll dig into it tonight. Will try to reproduce it on a blank game, or I'll find the cause in my game. Either way, it's going to be fun ;)

[2013-08-28 07:31] cnohara commented on #42
Hi, I checked over my code and I was doing the same as the sample code.  However, I decided to try it from scratch again, and all is well.  I think you can consider this closed!  Thank you!

[2013-08-28 12:53] collinhover commented on #42
Thanks for double checking! I do want to make sure we're bug free so I appreciate the reports :-)

[2013-08-28 12:53] #42 closed, assigned to nobody

[2013-08-28 13:37] martypenner commented on #42
I tried putting my player entity (plus dependencies) into your jump'n'run demo, and regen works _some_ of the time. Bizarre. I think it has something to do with my weapon swapping. I'll continue stripping down my player entity, but I'm almost certain it's a problem on my end. Thanks for all the input.

[2013-08-28 14:43] collinhover commented on #42
@encryptoknight keep me updated please :-)

[2013-08-28 14:45] martypenner commented on #42
@collinhover Will do.

[2013-08-28 15:41] collinhover opened #47 "Examples Needed for Advanced Features"
If there is an advanced feature that does not yet have an example in either `examples/jumpnrun` or `examples/supercollider`, and you feel it is difficult to understand, please reply here and let me know. I've recently added a Impact++ SUPER COLLIDER! demo, which uses almost every single feature in the library, but it may not catch everything.

**Please submit your requests as lists (even in the ca

[2013-08-29 19:40] racingcow commented on #46
Just a quick update from me: I tried implementing [your suggested solution](https://github.com/collinhover/impactplusplus/issues/46#issuecomment-23266880) above, but didn't have much luck. It didn't seem to have any affect on the pathfinding.

Another thing I tried was to check all surrounding nodes (a block around the current node roughly the size of my entity), and skip the current node if any o

[2013-08-29 19:58] collinhover commented on #46
I'm wondering if the stuck state is getting fired and the path is getting dropped. Can you check if this is happening? The relevant line is https://github.com/collinhover/impactplusplus/blob/master/lib/plusplus/abstractities/character.js#L1199

Edit: is the creature getting a path from the `findMoveToPath` method? It gets stored in the `path` property of the creature.

[2013-08-29 20:32] collinhover commented on #46
@racingcow any chance you can send me the code for the game you are using that is not working with the pathfinding maps?

[2013-08-29 21:33] racingcow commented on #46
Ah, I finally found out what my issue was. As it turns out, I can't read, apparently. :wink: I'm not sure if @netmute is having the same issue or not, but in my case the issue was that I had the tile size on the collision layer set to 8, while the tile size on the pathfinding layer was set to 32

While not in the [r5 documentation](http://collinhover.github.io/impactplusplus/ig.PathfindingMap.html

[2013-08-29 21:47] collinhover commented on #46
@racingcow oh! Thanks for keeping with such an obscure bug. I'm going to write several warnings in the docs right now and have the pathfinding throw an error if the tilesizes don't match. Apologies for that not being in the docs.

On a side note, did the pathfinding map actually help once it was working?

[2013-08-29 22:08] racingcow commented on #46
The pathfinding map definitely helped. The way my level design is set up, there are still a couple of places I think I'll need to use the other colors or rearrange things a bit, but I think with a bit of work I can use it to prevent my creatures from getting hung up on the corners/edges of my collision map.

Speaking of that, what do the other colors on that map do? It looks like the red x prevent

[2013-08-29 22:28] collinhover commented on #46
The map adds weight to nodes, where the max weight added is based on `ig.CONFIG.PATHFINDING.WEIGHT`. By default, all nodes get the maximum weight, so they are all equally good, and the collision map is used to determine if a node is walkable. A node's weight doesn't matter if it is not walkable.

The default pathfinding map tiles all have a weight percent attached to them, where the brightest gree

[2013-08-30 02:38] racingcow commented on #46
Thanks for the explanation, @collinhover!

[2013-08-30 09:09] netmute commented on #46
Nice find @racingcow. That might be my problem as well. The collisionMap size is 4px and the pathfindingMap is 8px. Will try tonight.

[2013-09-01 00:28] bdaenen commented on #32
Been working on this quite a lot today and have tried different approaches. Currently I've resorted to preloading all levels referenced to from the current level by level change entities like you suggested. I've made it manually accessible as well and it takes the name of the level as an argument so it can easily be used in any way one would like. It needs some cleaning up and handling for loading

[2013-09-01 00:30] collinhover opened #50 "Collisions occurring when one entity has collides never"
Appears that the recent collision rework that moved collision solving into entities is allowing collisions between an entity pair where one has collides never and the other is collides active or fixed. The check for collides never was removed incorrectly.

[2013-09-01 00:48] collinhover commented on #32
Welcome back :-)

What if we used a loader as a transition between levels when the next is still loading? Basically the same as the loader we use to preload the game, but it has slightly different functionality and a default logo that says something like "loading next level...". It could manage the preloading in the background while the current level is being played. Would that work with what you

[2013-09-01 15:19] #50 closed, assigned to collinhover

[2013-09-01 15:40] collinhover opened #51 "Camera stops following after new level load."
@bdaenen mentioned in #32 that the camera stops following the player after level load. Unsure as to why this might be happening, but looking into it now.

[2013-09-01 15:42] collinhover opened #52 "Player not spawning at correct location when moving between levels"
@bdaenen mentioned in #32 that the player doesn't spawn at the location expected but instead spawns at the weltmeister placed location. Guessing this has to do with the recent triggers rework. Looking into this now.

[2013-09-01 18:11] collinhover commented on #32
Camera and player spawning issues should be fixed in https://github.com/collinhover/impactplusplus/commit/768947d2b747bb81dfebfac2eefa321f8c95c3c8

[2013-09-01 18:11] #52 closed, assigned to collinhover

[2013-09-01 18:11] #51 closed, assigned to collinhover

[2013-09-01 20:32] racingcow opened #54 "AUTO_FOLLOW_PLAYER setting requires Player object to be named "player"?"
It looks like the Camera class requires that a player [is named "player"](https://github.com/collinhover/impactplusplus/blob/dev/lib/plusplus/core/camera.js#L377) in order for the camera to follow properly.

In my case, I have several players, each named something other than "player". Would it make sense to fallback to searching by class name/type/group, similar to the way that [`creature.findPred

[2013-09-01 20:36] racingcow commented on #47
Here is my list so far, just to show what I am using. You've covered all of it in your list above, but as I add more into my game and need/can't find examples, I'll come back and edit this to add more.
- Pathfinding
- Pathfinding maps
- Explanation of intent of existing "types" and how/when to use them. i.e. `ig.Ability.TYPE.SPAMMABLE`

[2013-09-01 20:44] collinhover commented on #54
There are several instances where the library assumes there is only a single player entity and it is named "player", which is the default in the ig.Player abstract. You're working with a special case that breaks this assumption, but I admit this doesn't seem like such an uncommon case. If you have a good idea of how this can be handled, I think it would better match the library's design goals than

[2013-09-03 05:26] racingcow commented on #54
How about (at least at first) adding a simple `getActivePlayer` utility method that would determine the active player? Perhaps by searching in the order below. In cases where more than one entity is found, the first one is chosen by default. If more complex logic is needed, users could override the current behavior.

Search priorities...
1. the entity with _name = "player"_
2. the _first_ entity w

[2013-09-03 14:17] collinhover commented on #54
This seems like a good solution, and it is consistent with the way the creature abstract aquires a prey or predator. However, having the `getActivePlayer` method in the `ig.Player` abstract may be prone to looping requirements, because anything that needs to reference the player will need to require it, which also disqualifies it as a requirement for the player itself.  A common pattern in ImpactJ

[2013-09-03 14:24] collinhover commented on #54
Also, any reason why it is named `getActivePlayer` as opposed to just `getPlayer`?

[2013-09-03 14:31] collinhover commented on #54
One other suggestion: I'd change the order from
(1) name, (2) group, (3), type, (4) class

to

(1) name, (2) class, (3) type, and (4) group

In fact, I might even remove group from the search entirely. The reason being, group is a very general collection of entities that do not collide or check against each other. So a group of PLAYER can and is commonly assigned to things such as projectiles that

[2013-09-03 22:17] mahgo commented on #47
- UIElement: Basic Dynamic HUDs, such as showing details of a selected entity

[2013-09-04 02:31] racingcow commented on #54
That makes sense about requirements looping and grouping.

As for the name, I was calling it `getActivePlayer` to imply the possibility of having multiple player objects, but only one being active at a time. Perhaps something like a turn-based board game with multiple people playing at the same time. In cases like those, I was thinking there could be multiple 'Player' objects, but only one would b

[2013-09-04 12:52] collinhover commented on #54
Looking good! I'll review and merge later tonight.

[2013-09-06 15:14] collinhover commented on #54
Sorry for the delay, been busy trying to make a kitchen sink demo of the library for onGameStart conference. I just noticed that the pull request is for the master branch. Can you close the current PR and create a new one with the dev branch please?

[2013-09-07 18:20] bdaenen commented on #32
I've been refactoring and improving on this quite a bit today. Currently there is an `ig.Preloader` which is created on the `ig.gameExtended` object. When building the level I keep track of `levelChange` entities and add their `settings.levelName` properties into the preloader's queue. After that I call my preloader's `loadLevels()` which will load the <levelname>.js files, extract the images used

[2013-09-07 21:58] collinhover commented on #32
Wow, very nice. So far I think I'd have set everything up the same way. In terms of pausing, I would actually unload the current level even if the next is not loaded. That avoids the issue of pausing the game, because nothing will be active. Currently the game uses a ui overlay to fade the current level out and the new level in... can the preloader extend the ui overlay and replace the game's tran

[2013-09-07 21:59] racingcow commented on #54
No problem, @collinhover, and sorry about marking it for the master. I think I've got it resubmitted for dev, now.

[2013-09-08 11:33] bdaenen commented on #32
I'll look into it, that shouldn't be too big of a problem and looks like a nice way to implement it :)

[2013-09-08 14:45] collinhover commented on #54
Merged in! Cheers!

[2013-09-08 14:45] #54 closed, assigned to nobody

[2013-09-12 20:52] #32 closed, assigned to nobody

[2013-09-13 06:18] racingcow opened #58 "UIMeter attempts to display nonexistent animation frame"
I was making a health meter today, and I think I may have stumbled onto a bug. It looks like `UIMeter` will try and show an animation frame that is outside the bounds of the `animSettings` array.

In my case, I have created a `UIMeterHealth` class that extends `ig.UIMeter`. My meter references a sprite sheet that contains 12 images, each of 32x32px (3 across and 4 down), and has `animSettings` lik

[2013-09-13 14:14] collinhover commented on #58
Oops, that's a silly mistake. Thanks for catching! Line 374 should be:

[code]

[2013-09-13 14:18] #58 closed, assigned to nobody

[2013-09-23 22:27] Joncom opened #61 "Function `shapesFromCollisionMap` fails to produce hollow rectangles."
**Test Case:**

[code]

**Expected Output:**
4 rectangles (1 top, 1 bottom, 1 left, and 1 right) which altogether form a hollow square.

**Actual Output:**
1 solid square, filled in where it should be hollow ([screenshot](http://puu.sh/4yE7A.png)).

[code]

**Note:**
This test case was done September 23, 2013 using the current **dev** branch.

[2013-09-23 22:47] collinhover commented on #61
This is the correct behavior based on the default options. In most cases, the outer ring of vertices of a collision map will never be used in collisions, so it is discarded. Check out the docs, specifically https://github.com/collinhover/impactplusplus/blob/master/lib/plusplus/helpers/utilstile.js#L147

Did that do it?

[2013-09-23 23:36] Joncom commented on #61
No, that didn't do it.

Using:

[code]

The output is now:

[code]

Which is [two overlapping squares](http://puu.sh/4yGZZ.png), whereas it should look something like [this](http://puu.sh/4yH4J.png) instead.

[2013-09-23 23:49] collinhover commented on #61
Ah, okay: https://github.com/collinhover/impactplusplus/blob/master/lib/plusplus/helpers/utilstile.js#L153

[2013-09-24 01:12] Joncom commented on #61
Using:

[code]

...results in the same two overlapping squares:

[code]

And using:

[code]

...results in a single square which still occupies the area that should be clear.

No combination of any mentioned options result in shapes that resembles [a hollow square](http://puu.sh/4yH4J.png).

[2013-09-24 01:14] collinhover commented on #61
The result using just rectangles setting appears to be incorrect. I'll take a look at it.

[2013-09-24 02:49] collinhover commented on #61
For whatever reason, it seems I decided that solids did not get the rectangles setting. Latest dev works as expected on my end, can you verify?

[2013-09-24 03:37] Joncom commented on #61
Works now. Awesome, thank you!! :)

[2013-09-24 03:37] #61 closed, assigned to nobody

[2013-09-26 00:29] #46 closed, assigned to nobody

[2013-09-27 16:39] arakash92 opened #63 "Slope Movement is buggy?"
I have an entity that extends the Player entity.

I haven't done much customization yet and I notice when my character is moving DOWN on slopes, he falls on and off the slop constantly causing my dude to switch animation from running to falling rapidly.

This does not happen on regular impact entities, what's going on?

[2013-09-27 17:06] collinhover commented on #63
Currently entities don't stick to slopes. Originally I was checking for slopes and modifying the velocity to be parallel to the slope, but this was not playing nice with impact's collision map tracing. On the other hand, running up slopes with impact's original handling would cause characters to fly up into the air. Now, when moving up slopes, characters move slower and a bit of velocity is added

[2013-09-27 18:44] arakash92 commented on #63
Ok, thanks. I'll take a look at it!

Another thing too is that I'm playing a footsteps sound while my character is walking/running so it's important that the `grounded` property stay true at all times while walking on the slope.

[2013-09-27 18:48] arakash92 opened #64 "Did the character initiate a jump?"
I have a `player` entity that extends the impact++ `playerEntity` and I need to play a sound when the character initiates a jump.

I couldn't find a way to easily check whether he initiated a jump or not.

The only thing I have is the `jumping` property but that property stays true for the entirety of the jump.

I think the `jump` method on the `playerEntity` class should return `true` or `false`

[2013-09-27 19:09] collinhover commented on #64
Not a bad idea, but you can also just do:

[code]

I think that in terms of how the library is designed, playing sounds should be handled similarly to how automatic animation switching is handled: after the update, check and play sounds based on the character's status. If you figure out pull requests, I'm always open to improvements!

[2013-09-27 19:10] #64 closed, assigned to nobody

[2013-09-27 19:14] collinhover commented on #63
The grounded property is something I added to entities because the original standing property is not stable, i.e. it constantly switches. I think you can make your character stick to slopes by always setting them to always have max gravity except when jumping. However, this will have the side effect of sliding down slopes, so you will need to decide which is best. If you have a better solution, pl

[2013-09-27 19:27] arakash92 commented on #63
I guess tying sounds to the animation is a good idea.

How would I make the character always have gravity though?

[2013-09-27 20:46] collinhover commented on #63
So I went ahead and tested a few things, and there is actually a bug that is causing the idle animation to play instead of the movement (run) animation if the character is in the air but not yet falling. Thanks for pushing me to check :-)

Also, while I was at it I decided to try to make characters sticky, and got it working nicely. Currently my internet is down, but once it comes back up I'll pus

[2013-09-27 21:33] arakash92 commented on #63
Awesome! ;D

[2013-09-28 02:44] collinhover commented on #63
Try with latest dev branch please. Does it behave as expected?

[2013-09-28 04:48] arakash92 commented on #63
Gonna test it now :P

[2013-09-28 05:33] arakash92 commented on #63
Works great, thanks! ;D

[2013-09-29 02:29] arakash92 opened #65 "Explenation of the Type & Group system?"
I'm reading the impact++ docs and I don't understand anything.

What are 'bitflags'? How do I add a type to my 'player' entity and my 'item' entity?

I need my player to check against 'items'. This is what I need, right?

[2013-09-29 03:29] collinhover commented on #65
Bitflags: http://www.cplusplus.com/forum/general/1590/

In original impact, you have 3 types (bitflags): A, B, and BOTH. The nice thing about these bitflags is that we can combine up to 32 different bitflags into a single bitflag and then check for any one of them using the "&". So we do that in impact++. For example, you have an entity that is of type ITEM and POWERUP, another entity that is of t

[2013-09-29 05:30] arakash92 commented on #65
Ok, I think I understand now, thanks.

[2013-09-29 05:55] arakash92 commented on #65
I don't understand this...

how do I exactly set a type for my `EntityShuriken` and `EntityRad`.
My EntityShuriken is a projectile thrown by my player and it should damage `EntityRad`.

So Now I have in my EntityShuriken:

[code]

And in my EntityRad:

[code]

But it doesn't work?

[2013-09-29 13:40] collinhover commented on #65
Does it work when you don't use groups? You are not adding groups correctly at the moment, you need 1 extra argument like so: https://github.com/collinhover/impactplusplus/blob/master/lib/plusplus/abstractities/player.js#L82 (This is because the type system defaults to using TYPE to store the bitflags, and you want GROUP because the group bitflags are unique from the type bitflags).

[2013-09-29 13:51] collinhover commented on #65
Oh, and make sure your shuriken is extending the abstract ig.Projectile! The projectile abstract automatically adds the check against for DAMAGEABLE entities: https://github.com/collinhover/impactplusplus/blob/master/lib/plusplus/abstractities/projectile.js#L91 (fyi, you spelled DAMAGEABLE wrong when adding the type to your rad, so that could also be why the shuriken won't hit the rad).

[2013-09-29 13:56] collinhover commented on #65
Also, anytime you use the ig.AbilityShoot to shoot a projectile, it automatically adds the group of the entity using the ability to the projectile. In other words, you don't need to add any group to the shuriken if you use the ig.AbilityShoot to shoot shurikens, it is all handled automatically.

[2013-09-29 14:12] arakash92 commented on #65
I managed to get it to work and yes I believe I had a typo in that 'damageable' type. The shuriken does extend ig.Projectile and I'm also using ig.AbilityShoot.

Anyway, I'll take a look later and see what I did to fix it.

[2013-09-29 14:57] #65 closed, assigned to nobody

[2013-09-29 16:42] arakash92 commented on #63
Hm, I noticed a bug. Sometimes when I land on slopes, my character 'flickers' back and forth from grounded and non-grounded.

Can you check if it happens for you as well?

[2013-09-29 19:18] collinhover commented on #63
When you say flickers, do you mean the grounded property is changing between true and false constantly on the slope?

[2013-09-29 21:31] collinhover opened #66 "Colliding entities are not removed from layer's checking list properly."
It appears that sometimes when an entity that collides or checks is killed, it is not removed from a layer's checking list properly. If that same entity is then respawned, it will check collisions twice each update. Each respawn after that will continue adding another check to the update cycle. It may be best to handle removing from layers more conservatively, instead of trying to take shortcuts f

[2013-09-29 21:42] arakash92 commented on #63
Yes :P

[2013-09-29 21:45] #66 closed, assigned to nobody

[2013-09-29 21:46] collinhover commented on #63
I'll take a look.

[2013-09-29 22:02] collinhover commented on #63
I can't find any situations where the entity is switching between grounded true/false more than once on a slope, and the only time this happens is when I stand on a slope, jump, and land on the slope. That said, I've made a minor change to the movement handling which may fix your issue. Can you try again with the latest dev branch? If it still happens, can you take a screen shot of the game when i

[2013-09-29 22:19] arakash92 commented on #63
Hm ok. Maybe I should try creating a stripped down player entity and make sure it's not something that I'm doing.

I'll try the new commit as well.

Yes, in fact I'll do a quick screen recording.
Thanks again for helping! Hopefully I'm helping a bit as well :smile:

[2013-09-30 00:20] arakash92 commented on #63
Here's a video of the bug http://www.screenr.com/W3kH

I'm gonna try your new commit now.

[2013-09-30 00:36] arakash92 commented on #63
I tried your new commit, I got less 'falls' with that one but it's not fixed.

[2013-09-30 03:17] collinhover commented on #63
Interesting, thanks for the video explanation and for pointing out 2 bugs so far! I think I know what is going on, but I need to run some more tests tomorrow to be sure.

[2013-09-30 05:12] racingcow opened #68 "ig.game.getEntitiesByClass forces area boundary"
Hi, @collinhover. I think I may have discovered a bug, or at least a change in behavior that I don't quite know how to handle yet.

Since the new code on lines [1697](https://github.com/collinhover/impactplusplus/blob/e5cd55a57b69b240874015469b31bc8f7f1cf3e5/lib/plusplus/core/game.js#L1697)-[1705](https://github.com/collinhover/impactplusplus/blob/e5cd55a57b69b240874015469b31bc8f7f1cf3e5/lib/plusp

[2013-09-30 12:44] arakash92 commented on #63
Great, no problem :)

[2013-09-30 13:00] arakash92 commented on #63
I have another observation: When landing on a slope with a X velocity other than zero does not make the bug occur.

[2013-09-30 13:03] arakash92 commented on #47
How do I use pathfinding? I have no idea :confused:

I'd love to see either a new section in the documentation for 'use cases' or short tutorials for common things. If I knew more about impact++ I would love to write some.

[2013-09-30 13:33] collinhover commented on #68
Ah, it is a bug actually, thanks for finding. When I added the distance check, I changed the if statement slightly to require distance or intersect, when those should both be optional. I'll push the fix today.

[2013-09-30 14:04] arakash92 opened #69 "Pathfinding and slopes == bug?"
It seems to me that one of my Characters are unable to jump up to a slope.
If I change that slope to a regular square block, it works fine. He jumps up.

[2013-09-30 14:08] arakash92 commented on #69
Here's a video of the issue: http://www.screenr.com/GykH

[2013-09-30 16:29] arakash92 commented on #47
So, I got pathfinding to work both using simple and complex.

The complex one is OK, my NPC is able to find me by jumping up 1 block etc.

But if I have a map like this (in a sidescrolling game):

![screenshot](http://new.tinygrab.com/55cc6b41da252ed5055bc16830cfb9a6851afa4702.png)

He just attempts the same path over and over and tries to jump like crazy.
Of course.. he never succeeds :P

Is this

[2013-09-30 17:50] collinhover commented on #47
Keep in mind pathfinding is just finding the most efficient path from A to B. Based on your image, you are trying to get it to jump to the right and then to the left, which feels more like AI than pathfinding. This is why I made pathfinding maps, so you can draw general areas that pathfinding will be more likely to use. Check out #46 and the creatures level of the super collider example. The short

[2013-09-30 18:28] collinhover commented on #68
Okay I've fixed it but am continuing to have internet issues. Once I get a connection, I'll push the fix.

[2013-09-30 18:32] #68 closed, assigned to nobody

[2013-09-30 18:43] collinhover commented on #47
This is what I'd expect, using pathfinding maps, where green squares are the pathfinding map tiles. You may have to tweak it a bit to get the desired result.

![pathfindingmaps](https://f.cloud.github.com/assets/1005377/1239756/36520e96-2a00-11e3-861e-f1cc0ea14718.png)

[2013-09-30 19:28] arakash92 commented on #47
It seems to me though that the Character class does more than pathfinding in that it causes the character to jump. I guess I'll have to override some of the methods and re-implement all of the AI.

Anyway, I'll try using the pathfinding maps in that way. Thanks again. You even drew up an image!. :+1:

[2013-09-30 20:08] collinhover commented on #47
To be clear, the Character class does not do pathfinding itself, it does path following. The basic process is: 1) the character needs to move to a location or entity, 2) it makes a request to the pathfinding utility, 3) the pathfinding utility tries to find a path within an optional distance and optionally avoiding other entities, 4) the character gets the path and tries its best to move to each n

[2013-09-30 21:39] arakash92 commented on #47
I tried painting in some light green tiles on the pathfinding layer but it didn't make much difference.

The path is wrong basically. the pathfinding utility returns a path which is impossible to follow. Unless my character can fly, which he can't.

My character needs to be able to say "give me a new path different than the one I have now" to the pathfinding utility.

So, I would need to mess with

[2013-09-30 21:46] arakash92 commented on #47
Actually, I was able to get him to jump up the blocks! ;D

Here's how the pathfinding layer looks like now:
![pathfinding layer](http://new.tinygrab.com/55cc6b41daff5b9b6c0a70bdebe96d491022da29ad.png)

[2013-09-30 22:17] collinhover commented on #47
I wouldn't say the pathfinding is wrong, just that it does not know who is using the path, and in most cases it shouldn't care. The right path is always the one that costs the least, and anything beyond that can become expensive for performance or impossible for me to predict. For example, to fix your case, what if I don't allow the pathfinding to go up unless the characters can reach that spot? H

[2013-09-30 23:15] arakash92 commented on #47
Yeah the path isn't wrong 'period', it's wrong relative to my character class :P
And yea, it makes sense that the pathfinding shouldn't care about AI stuff

Another idea similar to the 'learning' concept is, pre-made paths created in weltmeister via either placing entities or painting on a map. You could then have two types of 'points' to place, waypoints and destinations.

So whenever a character

[2013-10-01 00:27] collinhover commented on #63
Okay, the latest commit fixes the issue of the grounded state when jumping on a slope + some other cases I could find. In original ImpactJS, you slide down slopes by default, and the issue is that if you don't want characters to slide down when standing still on a slope, sometimes you need to ignore the collision map position result. Unfortunately, this can cause the character to stop being ground

[2013-10-01 00:35] collinhover commented on #69
This is an interesting bug. I believe it is caused by the character's path following treating slopes as safe and not needing a jump. I didn't expect anyone to use slopes like you're using them in the video... I'll need to change it to only treat some slopes as safe.

[2013-10-01 00:35] #63 closed, assigned to nobody

[2013-10-01 00:42] collinhover commented on #47
Premade paths would certainly make pathfinding cheaper... the pathfinding utility does a lot of precalculation and builds an entire map whenever a new level loads, so perhaps something like this could even be automated. Good idea =)

[2013-10-01 00:47] arakash92 commented on #47
Right, yea. It could do a 'mass-learn' on load.

Just a quick question.. I have a 'chest' entity which extends ig.Lever. my player has the abilityInteract.
But I'm getting errors when I try to 'open' the chest by standing close to it and running the 'activate' method on the ability.

What am I missing?

[2013-10-01 02:12] collinhover opened #70 "Entity collisions can rarely teleport one entity a good distance in a random direction."
Unsure what is causing the issue, but it only seems to happen to characters that land at a specific angle or point on top of another character, and both characters must collide. When this happens, the character on top teleports instantly fairly far away, usually in x direction.

[2013-10-01 02:41] collinhover commented on #69
I didn't have enough time to finish testing this, but it appears that the issue is also possibly caused by the path following using the center of the entity as the from point. It should probably use the bottom of the entity instead (i.e. the feet). However, for entities that are the same height as a single tile, it is more likely the slopes issue.

[2013-10-01 04:31] collinhover opened #71 "Creature docs not generated properly"
Creature docs are blank, most likely caused by a typo.

[2013-10-01 14:29] collinhover commented on #47
To use any ability, you should call the `execute` method. My guess is that the ability doesn't have a target, so either you can set the ability to find one automatically by setting the `canFindTarget` to true, or just pass the chest entity to the ability's `setEntityTarget` method. See the ability example at: https://github.com/collinhover/impactplusplus/blob/master/lib/plusplus/abilities/ability.

[2013-10-01 15:20] #71 closed, assigned to nobody

[2013-10-01 18:23] collinhover commented on #70
Whoops, remember not to multiply by friction in ImpactJS. You might expect it to be a percent, but ImpactJS cares not what you think. Also ImpactJS doesn't limit velocity when applying friction, so we'll fix that.

[2013-10-01 18:25] collinhover commented on #47
You can also check out the docs for abilities: http://collinhover.github.io/impactplusplus/ig.Ability.html, right at the top it has a red warning that may help you solve the issue.

[2013-10-01 18:26] #70 closed, assigned to nobody

[2013-10-01 22:43] arakash92 commented on #47
Ah ok. I was calling the wrong method on the ability object. Thanks :)

[2013-10-01 23:41] collinhover commented on #47
No prob, it is partially my fault for not making that clear in all the abilities (it is quite easy to look at the interact ability and think the activate method is what you need).

I'm going to close this issue as it has gone off track at this point and most of the original list now has examples.

[2013-10-01 23:41] #47 closed, assigned to nobody

[2013-10-01 23:42] collinhover commented on #69
I'm reworking pathfinding to account for both issues at the moment, hope to have a commit ready to test today our tomorrow.

[2013-10-02 00:17] arakash92 commented on #69
Awesome!

[2013-10-02 21:09] arakash92 commented on #63
nice :)

[2013-10-02 22:44] arakash92 commented on #65
If you could write some more about the group & type system in the docs, that would be great :P

[2013-10-03 02:29] collinhover commented on #69
Okay, everything is working pretty smoothly on my end. I've just got one last thing to tweak, then I'll push it. Turning out to be a rather large overhaul.

[2013-10-03 05:29] arakash92 commented on #69
ok! looking forward to try it out :)

[2013-10-03 16:02] arakash92 opened #72 "EntityText not working?"
I'm trying to spawn a EntityText using the following but it's not working...

[code]

I have tried setting the 'textDisplayed' property too to no avail.

What's going on?

[2013-10-03 16:22] arakash92 commented on #72
Never mind, I was passing in an int :p
I think the entityText should do .toString() on the text passed in though.

[2013-10-03 18:24] collinhover commented on #72
Yep, it should convert the text value to string for safety. Can you make a pull request with the change?

[2013-10-03 18:58] arakash92 commented on #72
Good idea, let's see if I can do this :P

[2013-10-03 19:01] arakash92 commented on #72
So, I'll fork the repo. then commit changes to the dev branch? or master?

[2013-10-03 19:04] collinhover commented on #72
Dev please!

[2013-10-03 20:34] arakash92 commented on #72
There, I did a pull request :P

[2013-10-03 21:30] #72 closed, assigned to nobody

[2013-10-03 21:55] arakash92 commented on #69
Hm, did you push those last changes?

I just got the latest dev branch and the grounded property is fixed but my characters slide like it's on ice :P

[2013-10-03 22:04] collinhover commented on #69
Nope,I'll close this issue when I've pushed the fixes. If you still have sliding then we'll check it out.

[2013-10-04 02:11] Mmarzex opened #74 "Moving a UIElement"
Hi,

I'm a little unclear on how you move an UIElement, so here is my code

 if(ig.input.pressed('popup')){
                    this.someEl = ig.game.spawnEntity(ig.UITextBox, 0, 0, {posPct: {x: 0, y: 0}, text: 'Hello!!!!!'});
                    this.someEl.moveToPosition({x: 100, y: 100});
 }

is that the proper way to do that or am I missing a concept here because no matter what it always place

[2013-10-04 03:15] collinhover commented on #74
UI elements are by default positioned by a percent of screen size. Either you can set the `posPct.x/y` between 0 and 1, or set `posAsPct` to false and then set the `pos.x/y` like you would with normal entities. Even better, do this all in the spawn settings:

[code]

[2013-10-04 06:09] Mmarzex commented on #74
Alright that makes sense, thanks for the quick response. All though I have one more question, if I were to add in that code to change the font would it be something like

[code]

Or do I need to make a new font object? I'm using the jumpnrun demo from the repo so that font.chat_name is defined in the config-user.

[2013-10-04 13:33] collinhover commented on #74
Np. Font names are just paths to the font image. For actual fonts, check out https://github.com/collinhover/impactplusplus/blob/master/lib/plusplus/core/font.js#L282.

[2013-10-04 13:33] #74 closed, assigned to nobody

[2013-10-04 18:55] collinhover commented on #69
Have not had enough time to fully test the changes, but basic testing results are good on my end.

[2013-10-04 18:55] #69 closed, assigned to nobody

[2013-10-05 00:26] arakash92 commented on #63
Seems to me that the bug still occurs?

[2013-10-05 00:35] arakash92 commented on #63
Ah, so with the new falling property, it does work! ;D

[2013-10-05 06:10] racingcow opened #76 "Pixel positioning on linked UI Elements?"
I have a question related to positioning `UIElement`s.

I have a `UIMenu` linked to a `UIHighlight` (both extend `UIElement`),,,

[code]

I want to be able to position `UIHighlight` a precise number of pixels away from `UIMenu`. It looks like once you have the two linked, you have to [position the linked element](https://github.com/collinhover/impactplusplus/blob/f830d14aa7e05d30ccc94f08416ed4d14b

[2013-10-05 06:27] collinhover commented on #76
Use `margin` set to the pixel value with `marginAsPct` set to false: https://github.com/collinhover/impactplusplus/blob/master/lib/plusplus/ui/ui-element.js#L102

[2013-10-05 13:44] arakash92 opened #77 "AudioSource & AudioListener"
I wanted to have certain sounds in the game sound as though they are further away, so I implemented two classes, ig.AudioSource and ig.AudioListener.

I could add this to plusplus and submit a pull request?

Consider a crate that plays a 'break' sound.

[code]

Now, you probably want to have the AudioListener at the camera's position.
So, in your game's init function:

[code]
## Notes

*You can st

[2013-10-05 16:08] collinhover commented on #77
Cool! This would be a great addition. Some questions:
- Why not just use the camera as the audio listener, instead of adding extra overhead of the audio listener? Sounds can refer to the camera via `ig.game.camera` and set volume/stereo/etc based on their position relative to the camera.
- What is the benefit of using `ig.AudioSource` vs just extending or injecting `ig.Sound`?

Also, ping @bdaenen

[2013-10-05 16:39] racingcow commented on #76
Hmm.  `margin` only seems to cause my `UIHighlight` to shift position when I don't set `linkedTo`. When I try this...

[code]

... [`this.margin.x` is 0](https://github.com/collinhover/impactplusplus/blob/f830d14aa7e05d30ccc94f08416ed4d14bda10cc/lib/plusplus/ui/ui-element.js#L310) when the `UIElement.reposition` method is called.

I'll dig into it more tonight and try and reproduce the issue in a

[2013-10-05 17:04] arakash92 commented on #77
I'd like it to be modular, you might want to have multiple audio listeners. One for the camera and one for player perahps.
Consider the player being in a car, all sounds being listened to from that position might be lower than the where the camera is. Sure, you could move the listeners position etc but it's nice to have that modularity.

I decided to not inject ig.Sound because having a AudioSourc

[2013-10-05 17:31] collinhover commented on #76
I actually use pixel positioning to do the health and energy meters in the SUPER COLLIDER! demo. The health meter is positioned in the screen 15 pixels from the top left, and the energy meter is linked to the health meter and positioned 10 pixels below it.

Health meter
https://github.com/collinhover/impactplusplus/blob/master/examples/supercollider/lib/game/entities/player.js#L274

Energy meter
h

[2013-10-05 23:53] collinhover commented on #77
Hmm, so the AudioListener is decoupled from the sound. Does this mean multiple AudioListeners can listen to the same sound then? I'm not convinced about the AudioListener, but I do like the idea of the AudioSource. I'd like to see the code for both! Can you make a pull request?

[2013-10-06 00:12] arakash92 commented on #77
Sure. coming up!

[2013-10-06 00:14] arakash92 commented on #77
Actually there seems to be a bug I need to fix first.

[2013-10-06 00:33] arakash92 commented on #77
Hm. I'm gonna submit a pull request if you wanna take a look at it. There is a strange bug though I'm not sure what it is yet.

[2013-10-06 00:45] arakash92 commented on #69
Cool I'll test it!

[2013-10-06 01:22] arakash92 commented on #77
Forgot to reference this issue in the commit but I have submitted a pull request :P

[2013-10-06 05:15] racingcow commented on #76
I think this has something to do with whether or not `UIElement.useLinkAlign` is set to something non-zero on the child element (the one linking to something else). If I specify something like `linkAlign: {x: 1, y: 1}`, I can use negative values on the `margin` to position the highlight where I want it. If I leave it at the default zero vector, however, my highlight element shows up in the center

[2013-10-06 08:44] bdaenen commented on #77
I've indeed been thinking this out and trying to get the web audio API to work, which is turning out to be quite the pain :D of course as soon as one reads what amazing things it's capable of (cross fading, all sorts of filters, positioning, ...) one gets distracted from what the original goal was :)

Either way, I want to extend `ig.Sound` with a `sourceEntity` to handle positioning. The idea is

[2013-10-06 14:51] collinhover commented on #76
Linked elements should align to the center by default, and `linkAlign: {x: -1, y: -1}` should get them to the top left much as `linkAlign: {x: 1, y: 1}` gets them to the bottom right. It sounds like this is not happening, so there is probably a bug. I'm looking into it, thanks for providing a sample.

[2013-10-06 16:00] collinhover commented on #77
I'm starting to come around to the idea of AudioListeners, but they should probably extend `ig.EntityTrigger` so they have all the basic entity properties such as `distanceTo`, `moveTo`, and tweening methods, as well as the possiblity of being added in Weltmeister (maybe), etc. Extending the trigger also allows them to be used in the trigger chain, where a player can collide with and activate a li

[2013-10-06 16:12] collinhover commented on #76
Tried out the sample, setting `linkAlign: {x: -1, y: -1}` with `margin: {x: 0, y: 0}` does place the element in the top left corner, minus its own width/height, so that the bottom right corner of the linked element touches the top left of the linkedTo element. This is the behavior I'd expect.

What you're looking for is that the `linkAlign` property be relative to the inside of the linkedTo elemen

[2013-10-06 18:10] arakash92 commented on #77
Awesome! You seem to have a better grasp of this than me. I'm looking forward to hear more :+1:

[2013-10-06 19:08] Mmarzex commented on #74
I got that, but I'm still not understanding how I would set a new font for my element? I set the font property as font: new ig.Font('media/font_04b03_black_8.png') and it still shows as the default in the textbox, am I doing something wrong still?

[2013-10-06 19:19] collinhover commented on #74
Ah I see, the issue is that you're using a UITextBox, not a UIText, and the UITextBox extends UITextBubble which extends UIOverlay. The overlay creates a UIText using the `textSettings` property. So what you need is:

[code]

[2013-10-06 20:09] bdaenen commented on #77
Got the basics for positional audio working :) just need to configure it better as right now it seems to reduce the sound a bit too much! Turned out to be really easy with the web audio api, as there's a built-in "panner" to pretty much do the job for us :D

[2013-10-06 21:19] arakash92 commented on #77
whoho ;D can't wait to try it!

[2013-10-06 21:56] racingcow commented on #76
Ah, I see. Yeah, it was just me going off of assumptions/past experience, but I guess I had originally expected it to work as you describe, such that the linked coordinate system is relative to the top-left of the linkedTo element. That way, if I had set `linkAlign: {x: -1, y: -1}`, it would make it a bit easier to place the linking element over the fixed positions on the linkedTo element (x would

[2013-10-06 22:06] collinhover commented on #76
The way it is now is setup for elements that will be positioned next to each other. I think we could add a property to the ui elements that flips the link align to be relative to the inside of the linked to element for situations like yours. Would you mind adding this and make a pull request? Everything that needs to change is in the ui element class's positioning methods.

[2013-10-06 22:23] arakash92 opened #79 "zIndex not working?"
So I have two entities, a player and a sword.

Sometimes I need the sword behind the player, so I do:

[code]

But it doesn't seem to do anything, what am I missing?

[2013-10-07 01:51] collinhover commented on #79
Several things:
- you're sorting all layers with that call, use `ig.game.sortEntitiesDeferred( swordEntity.layerName );` instead
- layers default to the game's sortBy method, have you changed that?
- can you check if this method is being called, and if so, what layer is passed to it: https://github.com/collinhover/impactplusplus/blob/master/lib/plusplus/core/game.js#L1453

[2013-10-07 02:30] racingcow commented on #76
Sure, I'll give the PR a shot. Hopefully I can get it done either tonight or tomorrow night.

[2013-10-07 05:02] #76 closed, assigned to nobody

[2013-10-07 05:23] arakash92 commented on #79
I see. Well, I set the zIndex to -500 and it seemed to do the trick. =P

[2013-10-07 06:44] arakash92 opened #81 "collision box, offset and angle/rotation"
So, I have a sword entity. Which has a size of 3x10. The sword itself is 3x10 (the animationSheet)

But when I rotate the entity, the collision box is not rotated nor is it sized up to accommodate.

What should I do?

[2013-10-07 12:53] collinhover commented on #79
That's strange. I haven't had any z index issues, but I'm not sure why -500 would make a diff. Reopen this issue if you figure out anything else.

[2013-10-07 12:53] #79 closed, assigned to nobody

[2013-10-07 13:04] collinhover commented on #81
Collision boxes used to rotate. Truthfully, the box would resize to fit the rotated entity, so not true rotation. The reason impactjs's collisions are so fast is because we can assume everything has an axis aligned bounding box, and AABB intersections are extremely fast. If you start rotating boxes, there is a lot you'd need to change, such as the collision map traces and the touches method.

I re

[2013-10-07 13:04] #81 closed, assigned to nobody

[2013-10-07 18:02] arakash92 opened #82 "Event system?"
So I'm writing a more complex AI system than I previously had.

I saw some stuff in the ++ code about 'signals'?
Is this an event system?

Anyway, what I want is to 'listen' or 'bind' to the ig.Character.moveToComplete method without overriding the method.

Is there a way to do so, and if not. I might look into writing an event system.. actually I think I already have a JS event system which I can

[2013-10-07 18:07] arakash92 opened #83 "How much 'light' or 'shadow' is there "here"?"
I'd like to know how I could query impact++ to find out how much light there is in a certain x, y position.

Doing a stealth game :P

[2013-10-07 18:21] collinhover commented on #82
Yes signals are used as an event system, based on http://millermedeiros.github.io/js-signals/ (you can use those docs too).

When an entity completes a move to and `movingToOnce` is true for that move to, it dispatches the `onMovedTo` signal: https://github.com/collinhover/impactplusplus/blob/master/lib/plusplus/core/entity.js#L3699

Here is the signals code: https://github.com/collinhover/impactp

[2013-10-07 18:21] #82 closed, assigned to nobody

[2013-10-07 18:35] collinhover commented on #83
There is no built in method for this yet. You could do this in several ways that I can think of:

1
Lights are split into several `ig.ImageDrawing` (off screen canvasses), one of which is the shadows called `imageCast`. You could use the canvas `getImageData` method to get the raw RGBA data from the image, and test your x/y position. Note that `getImageData` is not very fast, so it may not be the

[2013-10-07 21:37] arakash92 commented on #83
Hm... actually, what if you just do...

[code]

I guess the only problem is to make the lineOfSight method check for entities and not only the collision...

[2013-10-07 22:25] collinhover commented on #83
Yes that could work if entities could block line of sight. Not a bad idea :-)

[2013-10-08 02:35] arakash92 opened #84 "Remove 'control' on entity but let it be moved by other factors other than its own will?"
So, i have an entity extending ig.Character and it has a stun method.

So when I stun it, I removeControl() on it, then addControl() after a while. But he freezes. He should still fall because of gravity and other factors etc. He should just not be able to do anything on its own.

Is there a way to remove 'movement' control on it only and still let it update?

[2013-10-08 02:41] arakash92 commented on #84
I found out. (setControllable method). lol :P

[2013-10-08 02:52] arakash92 commented on #84
Nope. turns out the `setControllable` sets the `controllable` properties which means he can't be moved by other factors while `controllable == false`.

Hm.

[2013-10-08 04:06] arakash92 opened #85 "EntityExtended.movedTo"
The docs say this about the `movedTo` property: "Whether entity has moved to currently moving to entity." what does it mean? and.. why is it not true when my entity has completed moving to an entity?

[2013-10-08 04:08] arakash92 commented on #85
I checked the code in EntityExtended and it seems when you moveTo with 'once' set to true, when it's done moving. the movedTo property is actually set to false...

Is this a bug?

[2013-10-08 04:31] collinhover commented on #85
You're going to need to give me more context on the entity that is moving. Is it a character? Is it using pathfinding or just instant move? Etc

If once is setting the movedTo to false, that is probably a bug. Can you link the line number please?

[2013-10-08 04:39] collinhover commented on #84
Controllable is meant to stop an entity entirely, including ignoring gravity, but is only intended to be used temporarily. There is not yet a built in way to stun an entity. I realize controllable is a misleading name, do you have a good idea for what we can change it to?

To do a stun effect, we just need an extra if statement at https://github.com/collinhover/impactplusplus/blob/master/lib/plusp

[2013-10-08 04:39] collinhover commented on #83
Closing for now, if you get this working feel free to make a pull request.

[2013-10-08 04:39] #83 closed, assigned to nobody

[2013-10-08 20:31] bdaenen commented on #77
I've cleaned up some code today and worked out some better settings (by default the volume was reduced by far too much) and I seem to have found some stable point for my tilesizes :). I'll add some configs for easy configuration. Things that can be changed are (bold = default):
- the distance model (linear, **inversed**, exponential)
- the panning model (equalpower, **HRTF**)
- the reference dista

[2013-10-08 21:57] arakash92 commented on #85
3724 of ig.EntityExtended

The call order is moveTo() > moveToComplete() > moveToStop.

To fix it, add `this.movedTo = true;` right underneath line 3698.

[2013-10-08 21:59] arakash92 commented on #77
awesome!

[2013-10-08 22:04] arakash92 opened #86 "'moveFrom' not working?"
I have an entity I'd like to have move away from another entity.

So I do entity.moveFrom(anotherEntity)

But it doesn't move at all. have I missed something?

[2013-10-08 22:41] collinhover commented on #77
Nice work @bdaenen. This combined with lighting and camera atmosphere is going to allow for some really interesting effects.

On the issue with getting sound to play equally when close to a sound, perhaps there a modifier that starts at 0 at a certain radius from the listener, and lerps to 1 at another smaller radius, which can force equalization?

[2013-10-08 22:43] collinhover commented on #85
I see, yes this is a bug when once is true. I'll add your fix, thanks :-)

[2013-10-08 22:45] collinhover commented on #86
It's possible the recent pathfinding changes affected moving from. That is one of the things I didn't have time to test, so I'll take a look now.

[2013-10-08 23:20] arakash92 commented on #85
np! :)

[2013-10-08 23:23] arakash92 commented on #84
Hm.. 'frozen' is already used for something else... 'timeFreeze' perhaps?

[2013-10-09 02:12] arakash92 commented on #83
It turns out I really need the lineOfSight to check entities for a few other things I'm doing.

I have no idea how it works or how to expand upon it though, would appreciate if you wanna give it a go ;D

[2013-10-09 03:19] racingcow opened #87 "howler.js"
Hello, everyone.

I noticed that @bdaenen and @afflicto have been working on [audio improvements to the game](https://github.com/collinhover/impactplusplus/issues/77). Would support for/use of something like [howler.js](https://github.com/goldfire/howler.js) help with cross-browser support?

I don't know a lot about Web Audio API yet, but howler.js will fall back to vanilla HTML5 audio support whe

[2013-10-09 03:39] collinhover commented on #86
Tested `moveFrom` and it is working as expected. Keep in mind that moving from is only available to characters, and then only if they have `performance === ig.CONFIG.DYNAMIC` and `canPathfind === true`. It is very possible that, in the case of a creature, it is trying to move to a prey / predator and that is conflicting with your manual `moveFrom` call. In the case of a creature, use the `predator

[2013-10-09 03:39] #86 closed, assigned to nobody

[2013-10-09 03:41] collinhover commented on #87
Not a bad idea, but can you post this in reply to #77 so we can keep the discussion in one location?

[2013-10-09 03:41] #87 closed, assigned to nobody

[2013-10-09 04:10] arakash92 opened #88 "lineOfSight(checkForEntities) method?"
There's a few things I'm doing in my current project where I need a 'lineOfSIght' method that checks for entities as well. (I have moving platforms which are, of course entities).

I'm not sure how to go about implementing it so if anyone else wants to do it I'd appreciate it ;P

[2013-10-09 04:52] collinhover commented on #84
I'll leave it as is and just add a stunned property instead. No eta on adding this, but it is on my list of additions.

[2013-10-09 04:53] collinhover commented on #88
No eta on adding this, but it is on my list of additions.

[2013-10-09 05:04] arakash92 commented on #88
Ok

[2013-10-09 18:15] arakash92 commented on #84
yea, stunned works fine.

[2013-10-09 21:08] arakash92 opened #89 ""Patrolling" Character?"
I'm trying to implement a patrolling character but it's never working as I expect it.

Sometimes when I call entity.moveTo(targetEntity).. he won't move at all, why?

[2013-10-09 21:24] bdaenen commented on #77
@racingcow: Other than sprite-audio I don't see too much of an advantage in using howler.js :) many features are already present in vanilla impact as is (detection/selection of compatible audio formats, individual/global volume adjustments, multichannel, pause/play/stop, fading, ...) and others were quite easy to handle (fallback to standard html5 audio).

I'd also like to allow developers to add

[2013-10-09 23:19] #89 closed, assigned to nobody

[2013-10-10 01:21] collinhover commented on #85
This is fixed now, and the `onMovedTo` signal is now always dispatched when a move to is completed, instead of only when moving to once.

[2013-10-10 01:21] #85 closed, assigned to nobody

[2013-10-10 01:26] collinhover commented on #77
@bdaenen yep, lets start with solid basics before we worry about the extra features. Always best to make sure the core works really damn well. Also, have you tested http://jessefreeman.com/dev-diary/optimizing-super-resident-raver/ at all while working on sounds?

[2013-10-10 01:29] collinhover commented on #89
Seems like maybe you got this working, but you should really try to use the `ig.Creature` abstract if you are not already. You can tell a creature to wander using `canWanderX` (and for top down games or flying creatures `canWanderY` also), and it will patrol back and forward from one edge to another. Or you can give it a tether and it will patrol `tetherDistance` away from the tether, then walk ba

[2013-10-10 01:32] collinhover opened #90 "r6dev is in progress"
If you use the dev branch while this issue is open, please be aware there are some changes as we move towards r6 that may break your game. Please check out the dev branch README for [a list of in progress changes](https://github.com/collinhover/impactplusplus/blob/dev/README.md#changelog).

[2013-10-10 04:11] Mmarzex opened #91 "Entity Physics question"
I am trying to just make a collectable such as a coin using a basic EntityExtended entity but I am a little curious as to how to get physics to work. If my spawner is spawning this collectable enity and I set the gravity to 1 for the entity shouldn't it fall? It doesn't though it just stays in the 'air' where my spawner target is.

[2013-10-10 04:18] arakash92 opened #92 "Fade 'level' in and out using camera atmosphere?"
So I'm trying to have my world/level fade in and out.

I have the following code:

[code]

Doesn't seem to work :s

[2013-10-10 05:24] collinhover commented on #91
Entity updates are opt-in, with three levels based on the `performance` property:
1. `entity.performance = ig.CONFIG.STATIC` is the default and means the entity will never move
2. `entity.performance = ig.CONFIG.MOVABLE` means the entity can move, but ignores gravity and the collision map
3. `entity.performance = ig.CONFIG.DYNAMIC` means the entity can move, responds to gravity, and has full colli

[2013-10-10 05:24] #91 closed, assigned to nobody

[2013-10-10 05:30] collinhover commented on #92
The issue is likely that the atmosphere overlay is not yet added to the world when you remove it, so it never gets added at all. Remember that when you use `ig.game.spawnEntity` it creates the entity immediately, then puts the entity in a deferred list, and on the next update actually adds the entity to the game. Try this:

[code]

[2013-10-10 05:32] #92 closed, assigned to nobody

[2013-10-10 05:43] arakash92 commented on #92
Ah, right. thanks!

[2013-10-10 07:38] arakash92 opened #93 "handleMovementTrace on slopes?"
It seems that when my projectile hits slopes, the handleMovementTrace isn't called?

[2013-10-10 11:36] Mmarzex commented on #91
I tried setting it to performance = ig.CONFIG.DYNAMIC and then setting checkingAgainst to ig.global.EntityPlayer and it appears to drop the entity from the spawner but then the bottom of the entity is below where the collision map is and the player can just walk right through it like it is a static image.

[2013-10-10 13:25] Mmarzex opened #94 "Weltmeister entity layer going blank"
I'm not sure if this is a general impact issue or an impact++ issue but for some reason lately certain types of entities that extend plusplus entities within my game appear when I place them in the entities layer but they do not appear, i.e. they are there but cannot be seen and even starting the game does not show them. I know they are on the layer because I can find them using ig.getEntityByName

[2013-10-10 13:30] collinhover commented on #91
`checkAgainst`, `type`, and `group` properties are all bitwise flags, so setting it to `ig.global.EntityPlayer` will not work because that is a class. The short version is to do this in your collectable:

[code]

Check out #65 and http://collinhover.github.io/impactplusplus/ig.utils.html#addType for examples on the type system.

As for your entity dropping below or into the collision map, does it

[2013-10-10 13:40] Mmarzex commented on #91
![screen shot 2013-10-10 at 9 38 42 am](https://f.cloud.github.com/assets/41359/1306523/6471d3b6-31b1-11e3-8ef1-5aeac26c4f69.png)

That's what it is looking like. The entity has no offset. So I add a Type for checkAgainst in my Collectable do I have to add a "PLAYER" type to my actual player?

[2013-10-10 14:13] collinhover commented on #91
If your player entity is extending `ig.Player` abstract, it automatically adds the PLAYER type in the player's `initTypes` method. And `ig.Player` extends `ig.Character`, which itself adds the CHARACTER type in its own `initTypes` method.

Can you turn on debug collision boxes and post the same screen shot please?

[2013-10-10 14:15] collinhover commented on #94
Do these invisible entities have animation sheets and animations? Did you open the console and check for errors?

[2013-10-10 14:17] collinhover commented on #93
`handleMovementTrace` is always called on dynamic entities, whether they are hitting the map or not. I'm not sure I understand your question, do you mean something else is not being called?

[2013-10-10 14:32] Mmarzex commented on #94
The Player entity becomes invisible and it has an animation sheet. The text entity I tried to put down though does not obviously and a couple void objects. I noticed it when I started using my other computer to work this morning, is there a known issue involved with git or something along those lines?

The console outputs:

[code]

[2013-10-10 14:42] Mmarzex commented on #91
![screen shot 2013-10-10 at 10 39 08 am](https://f.cloud.github.com/assets/41359/1307063/c0a3d8c0-31b9-11e3-877e-732148545032.png)

Here it is, and for reference here is the code I'm using for it.

[code]

[2013-10-10 15:18] collinhover commented on #91
Oh, simple fix! The `size` property of your test-item is too small. Notice how the apple has a box around 1/4 of the image?

That is because your animation sheet is 32x32:
`animSheet: new ig.AnimationSheet('media/re/im_1.PNG', 32, 32)`

and you haven't set a size, so the default is 16x16. You need to add:
`size: {x:32,y:32}`

p.s. your check against in the test-item is still wrong, make sure you u

[2013-10-10 15:26] collinhover commented on #94
I go between 3 computers and 2 different OS while working with Impact++ and have had no issues with git yet. However, it looks like it is trying to update the player's animation but the `currentAnim` property is missing. The `currentAnim` is set when you first add animations (and in other cases), so it is possible that you forgot to add animations to your player entity. Try using: http://collinhov

[2013-10-10 15:28] collinhover commented on #94
And double checking it, the entity won't make a call to `this.currentAnim.update` unless `currentAnim` exists, so something is changing the current animation's update function into something else... if you are still have issues, can you post the code in your player entity please?

[2013-10-10 19:43] arakash92 commented on #93
Projectiles don't seem to collide/die when hitting slopes. They slide along slopes.

[2013-10-10 22:09] collinhover commented on #93
Can't reproduce this with any slope on my end. You're setting the `collisionSticky` and/or `collisionKills` right? Can you post your projectile code?

[2013-10-10 22:14] bdaenen commented on #77
@collinhover Yup, I've been looking into this but the issue with the suggested "fix" is that it breaks multichannel sounds entirely :) a sound won't be able to play twice at the same time and will simply stop, rewind, and play again from the start when trying to play it the second time which just sounds bad.

I'm having some issues finding a better fix for this though. Currently whenever Impact lo

[2013-10-10 22:30] Mmarzex commented on #91
The size fixed it, I guess I assumed it set the size based on the image. I changed it and used initTypes, am I doing it right now?

[code]

[2013-10-10 22:34] Mmarzex commented on #94
I have added two entities since the last time I used weltmeister before the issue and they are these two

[code]

And this one which shouldn't even have an image so I don't see what is wrong with it

[code]

[2013-10-10 22:37] collinhover commented on #91
Looks correct, is it getting you the collision and checks you expect?

[2013-10-10 22:42] collinhover commented on #94
Did you try updating to the r5 release? I don't see anything wrong in those two entities, can you post your player entity code?

[2013-10-10 22:49] Mmarzex commented on #94
I tried updating it but nothing changed. It still gives me that current animation error.

The code for the player is

[code]

[2013-10-10 22:50] Mmarzex commented on #91
No the check isn't working, Do I have to put something in my Player entity? I don't see the log output when I overlap the item.

[2013-10-11 00:01] collinhover commented on #94
Okay, that doesn't help much either. Can you go into the Impact++ source code you're using and add `if (typeof this.currentAnim.update !== 'function') console.log( this.id, this.currentAnim);` to this file/line: https://github.com/collinhover/impactplusplus/blob/master/lib/plusplus/core/entity.js#L4846

Then open weltmeister, open the console, and get it to go blank. What is the log showing?

[2013-10-11 00:09] collinhover commented on #91
Remove the line:
`checkAgainst: ig.EntityPlayer.TYPE,`
from your test item. You're already adding the player type in the `initTypes` method, and the above line is going to cause errors.

[2013-10-11 00:55] collinhover commented on #77
Interesting. Is there a way with the web audio API to convert a sound file into a native audio, or is that something that takes way too long?

[2013-10-11 01:36] Mmarzex commented on #94
This is the error it gives at load

[code]

And this is from when I try to place an entity that later on disappears.

[code]

[2013-10-11 01:48] Mmarzex commented on #91
That fixed it, Thanks! I have more of a design question involving this now I guess. I'm spawning the Collectable with a spawner similar to the spawnerLibraried you used in the Collider demo. How would I go about killing the collectable when it is checked against the player so that the spawner count and everything resets?

[2013-10-11 03:15] collinhover commented on #94
The console output says it all actually, the animSettings are getting assigned as the `currentAnim`, which should not happen. You must have accidentally added that, just remove `this.currentAnim = this.animSettings.idle;` from your test item entity's `initProperties` and any others where you did that. `animSettings` is auto converted into animations for you.

If you need to force a certain animati

[2013-10-11 03:15] #94 closed, assigned to nobody

[2013-10-11 03:30] collinhover commented on #91
Anything spawned from a spawner is managed by that spawner, so you can just kill the collectable and the spawner will return it to the pool and subtract one from the spawn counts. If you need to fully reset the spawner, just call its deactivate method, but note that this also unspawns all spawned entities as well. If you need to auto respawn things, set the respawnDelay in the spawner. You can che

[2013-10-11 03:34] collinhover commented on #77
Can we force single channel sound and then defer the multichannel extra loading until after the game has started? Also, it might be good to just force single channel sounds always for mobile to keep data use down.

[2013-10-11 04:50] arakash92 opened #95 "My enemies melee each other?"
So I have multiple enemies that are in the group 'enemy' and they have a 'melee' ability and they are able to attack each other.

I tried the following but it didn't work:

[code]

What am I missing?

[2013-10-11 06:19] bdaenen commented on #77
If there's a way to check for mobile, we surely can :) I'm thinking instead of adding them immediately we can bind an event on the initial one's load and then clone them :)? As long as all browsers fire it we should be safe.

[2013-10-11 12:42] collinhover commented on #77
I think impact does user agent sniffing that includes mobile. Try `ig.ua`.

[2013-10-11 12:53] collinhover commented on #95
Using the latest dev branch? There was a small issue with ability targeting that was allowing same groups to be targeted, but it should be fixed.

[2013-10-11 21:34] arakash92 commented on #95
I'm not sure if I am or not but I removed the 'typeTargetable' (first line) and just used the 'groupTargetable'.

[2013-10-11 21:34] #95 closed, assigned to nobody

[2013-10-11 21:49] arakash92 commented on #89
Huh, I never thought about the `ig.Creature` class, I'm just using the Character haha.

Anyway, there was a bug in my own code which was calling moveTo multiple places.

[2013-10-11 21:50] arakash92 commented on #86
It turned out to be a problem on my end, thanks though.

[2013-10-11 22:32] arakash92 commented on #63
Actually I'm still getting the bug. the 'faling' property seems to always be false?

[2013-10-12 07:43] arakash92 commented on #93
I don't remember how, but I sorted it. I believe it was an issue on my end.

[2013-10-12 07:43] #93 closed, assigned to nobody

[2013-10-12 07:47] arakash92 opened #96 "EntityConversation.complete() runs at init?"
I have an `EntityConversation` with a few messages and I'd like to run some code after all messages have been displayed.

However, the `complete` method runs both at init and when it's actually complete.

What's going on?

[2013-10-12 13:13] collinhover commented on #96
The complete method is called by any trigger immediately after it has triggered. In the case of a conversation, it blocks the parent call in the complete until it is actually completed. This is something that should be changed, because it is confusing, but until then take a look at the conversation source code and do the same check it does in its complete method.

[2013-10-12 14:16] collinhover commented on #96
FYI in the next push this will change to where anything that descends from `ig.EntityTrigger` can set `autoComplete: false` to avoid double calling the complete method. When setting `autoComplete: false`, it just means that the complete method will be called manually later in the trigger's process. For example, `ig.EntityConversation` will do this, and only call complete once the conversation is f

[2013-10-12 14:16] #96 closed, assigned to nobody

[2013-10-12 14:58] bdaenen commented on #77
Fixed most of the multiple loading issues (except in Chrome, it doesn't seem to care) and am working out some other browser inconsistencies and bugs at the moment. Had to rewrite quite a lot to get everything working nicely in firefox, but I'm getting there :)

[2013-10-12 15:18] collinhover commented on #77
Can't wait to try it. How many channels/sounds can be running simultaneously?

[2013-10-12 15:52] bdaenen commented on #77
Hard to really test :) I'll look into it later as I currently don't have any time, but most browsers give up in the loading phase, as it's quite the memory hog (each channel/sound gets loaded into the memory separately, without preloading things can quickly get very very bad)

[2013-10-12 21:03] arakash92 commented on #96
I see. Well thanks!

[2013-10-13 10:47] bdaenen commented on #77
@collinhover said memory issues could possibly be solved by creating more channels on demand? I'll look into the possibility of dynamically generating more channels (within a min/max limit which we could use configs for) but I think it'd turn out okay as long as it's created as soon as we used up our last channel. This could potentially greatly reduce memory! usage for sound effects that aren't li

[2013-10-14 03:17] collinhover commented on #77
I didn't realize each sound took up so much memory. Are they streaming our just fully loaded?

[2013-10-14 05:49] bdaenen commented on #77
Impact creates an Audio object for ever channel of every sound when loading up the game and puts it into the soundmanager's clips property. The Audio objects  automatically pre load their content so they do stream, in a sense, but they all start pre loading from the very start regardless if you need/play them or not.

Edit: Just to clear things up, the crashing of the browser and glitching of the

[2013-10-15 04:22] Mmarzex opened #97 "Changing text of a UITextbox after spawn"
Currently I spawn a UITextbox with my player for score keeping. I set the text to 'score: 0' and then in the player update I want to change the text I did

[code]

That doesn't change the text. I noticed that if I go into the console when running the game and set myuiBox.text to something else it doesn't change but if I do myuiBox.textsettings.text then it does change but not on screen just in the

[2013-10-15 05:12] collinhover commented on #97
UI elements don't change unless their `refresh` method is called, because they are often expensive to build and don't usually change. So after you set the text, call the refresh method.

[2013-10-15 11:32] Mmarzex commented on #97
Okay, I'll try that. Would it be more efficient to use like say EntityText for something that will be changing more often? And if I were to use EntityText how would it follow the player like the UI box does?

[2013-10-15 13:08] collinhover commented on #97
EntityText is a UI element with a few property changes, but it is still basically a UIText element. You can use `moveTo(myPlayer)` but I'd recommend using the UIText.

[2013-10-15 13:14] Mmarzex commented on #97
Alright, I just wasn't sure. Now I call the refresh() method on my UIText element but the score text displayed doesn't update but it does change if I bring it up in the console. Is there something else I am missing?

[2013-10-15 13:23] Mmarzex commented on #97
nevermind, I got it working, put it in the wrong update loop.

[2013-10-15 19:23] Pattentrick opened #98 "Center static camera in fullscreen?"
Hi there,

i can not thank you enough for impact++. Impact++ is great and makes a whole bunch of things much easier. However i am fairly new to this extension and i have a  problem with the implementation of a static camera in connection with fullscreen/resolution independence.

Everything happens on one screen in my game. I need no scrolling for my levels or an "entity following" at all. Instead

[2013-10-15 23:01] Pattentrick commented on #98
I added the behaviour i wanted after some headache like this:

[code]

not sure though if this approach is too complicated, or unnecessary because impact++ has a built in functionality for this. anyhow ... this approach fails also on browser resize. even when i try to add this code to the games resize method.

any feedback is highly appreciated!

[2013-10-16 02:45] collinhover commented on #98
Hi @Pattentrick! I'm actually not sure if this is built into the camera, as you're the first to bring it up. I'm guessing from your question that your levels never change size and that all of them are the same? If that is the case, why not set your game/canvas size to the exact size of your levels:

[code]

[2013-10-16 02:46] collinhover commented on #98
And I forgot one thing, you'll probably want to set your canvas CSS to the size of the levels and make sure it is centered in the page.

[2013-10-16 02:51] collinhover commented on #77
Ah, I've been reading your replies via email and missed your edits. This is sounding great. Because some browsers tend to glitch and crash at a certain number of audio objects, do you think we should cap that conservatively and allow the dev to config it to a higher value? For example, I would imagine 10-15 sounds is about all that would be needed before it becomes a mess, but what is your testing

[2013-10-16 10:51] Pattentrick commented on #98
Hi Collin,

thank you for your anwser and your effort on this one! Thats right, my levels never change in size and all of them have the same dimension. I need a static game screen like in puzzlegames (tetris or bejeweled for example). To be exact, i am working on a graphic adventure in style of the early ega sierra games (kings quest, space quest, lesuire suit larry), where you have a static backg

[2013-10-16 11:04] bdaenen commented on #77
@collinhover Just loading audio tags doesn't cause any issues, it's only when we try to play > 50-75 simultaneously that the glitching starts to kick in :) I'm not sure if it makes a lot of sense implementing a limit on this as it seems very situational to have this many sounds playing at the same time. It's also very uncomfortable to listen to such an amount of sound effects at the same time, bel

[2013-10-16 13:34] collinhover commented on #77
Okay, that makes sense!

[2013-10-16 14:24] collinhover commented on #98
I prefer fullscreen as well! You are correct, there is no built in offset. If you'd like to modify the `ig.Camera` class to have an option to automatically position itself to a defined offset based on a percent of the level size, when it has nothing to follow, please submit a pull request and we'll merge it in.

[2013-10-16 14:24] #98 closed, assigned to nobody

[2013-10-16 14:26] collinhover commented on #97
To be honest, I should probably add a check in the UIText to automatically update when the text has changed. I'll put it on the todo list for r6.

[2013-10-18 16:15] Pattentrick opened #99 "Can't get pathfinding to work?"
Hi there,

i have some basic understanding problems with pathfinding in impact++ and cant get it to work properly. I have a player entity that inherits from the player abstractities, which inherits from the character abstractities.

If i click anywhere in the level, the player should move to exact this position. Like in point and click adventures or in rts games. By the way, this is a top down gam

[2013-10-18 16:58] collinhover commented on #99
@Pattentrick you're doing things the hard way :) let Impact++ do it for you:

[code]

One thing to note, there is a small bug in the `ig.Player` abstract class that is currently interrupting the player pathfinding. I'll push a fix for it later today (dev branch), but if you need it immediately just change:
[L332 of ig.Player if using master branch](https://github.com/collinhover/impactplusplus/blo

[2013-10-18 17:00] collinhover commented on #99
p.s. This is a fine place to ask questions. I'm more likely to see it here than on the ImpactJS forums. Thanks for finding the typo!

[2013-10-18 23:54] Mmarzex opened #100 "Spawner Bounds"
This may just be me being unclear of the documentation but if I set the bound.width and bound.height of the game width and height shouldn't the spawner spawn anywhere in the bounds? It keeps only spawning in one spot.

[2013-10-19 01:46] collinhover commented on #97
In latest dev (r6) UIText auto updates when the text property is changed so you no longer need to call `refresh()`.

[2013-10-19 01:46] #97 closed, assigned to nobody

[2013-10-19 01:47] collinhover commented on #100
I don't think I understand the question. The `bounds` property of entities is no longer used unless you opt into it, and most calculations ignore it at this point. If you want to change the size of the spawning area, set the spawner's `size.x/y`.

[2013-10-19 01:47] #100 closed, assigned to nobody

[2013-10-19 01:54] collinhover commented on #100
In fact, thanks for point this out. I've removed all instances and usages of bounds as they were a remnant of r4 that never got fully removed, despite doing nothing.

[2013-10-19 12:14] Pattentrick commented on #99
You sir, are a genius. Thank you collin! Just calling the moveTo method is indeed much easier :D

Now it works like expected, but unfortunately there is now this strange bug. Every 3-4 clicks the pathfinding fails and the player starts moving uncontrolled back and forth. Like he needs to pee and can't find the toilet.

I made a video about this behavior.

https://www.youtube.com/watch?v=D_N36MPHeX

[2013-10-19 17:16] racingcow commented on #99
Best description of a behavior ever. This made me lol. :smile:

[2013-10-19 20:10] collinhover commented on #99
I noticed similar behavior on one of my enemies this morning, caused by two lines in the character's `moveToPath` method that were moved incorrectly. I'll push that fix to the dev branch soonish. That said, I think it is not the same issue if your level is empty. Can you turn on debugging and turn on the A\* show path and take a screen shot or video when the issue happens?

[2013-10-19 21:46] Pattentrick commented on #99
@racingcow Good to hear that the description made you laugh ;-)

@collinhover

I uploaded the requested video here:

http://youtu.be/XjUPv-2d7sk

I have absolutely no clue whats going on there ...

[2013-10-19 22:20] collinhover commented on #99
That is strange. It appears that the atNode check isn't passing. I'll look at the methods again.

[2013-10-20 03:11] collinhover commented on #99
Currently I can't reproduce this behavior in the default sidescrolling mode, but that doesn't help much since you're in top down mode. For reference, I'm using the following in my player:

[code]

I'd prefer to try to fix this using your current code, if you can throw together a demo. Otherwise, I'll work on putting something together.

[2013-10-20 04:23] Mmarzex opened #101 "ig.game.autoSpawnPlayer does not allow setting"
I am not sure if this is a bug or intended but I want to not have the game auto spawn the player when I load a level, specifically because I have one level with the player and then a level that is the game over screen / title screen. Now in my main class for when I extend GameExtended I set the property autoSpawnPlayer to false but no matter what circumstance, it is always true. Again this could b

[2013-10-20 05:45] collinhover commented on #101
I can't seem to reproduce the bug. Just tested:

[code]

and auto spawn is set to false as expected. You can also set it via the user config, it is controlled by the `AUTO_SPAWN_PLAYER` property, or in the `init` method of your game before calling parent. Perhaps you're setting it somewhere else that you forgot about?

`loadLevelDeferred` kills nothing immediately. It will unload and load a new le

[2013-10-20 05:45] #101 closed, assigned to nobody

[2013-10-20 05:52] Mmarzex commented on #101
I set it just like you do. Would it be reset when I load a new level?

[2013-10-20 05:54] Mmarzex commented on #101
Actually never mind.  It was my browser not reloading impact correctly at first.

[2013-10-20 09:20] Pattentrick commented on #99
I made a demo on github which shows the bug:

https://github.com/Pattentrick/pathfinding-bug-demo

I used Impact version 1.23. Thank you again for your support on this one!

[2013-10-20 21:30] Mmarzex commented on #101
Alright, now I have more of question based on how loadLevel works. So for example what I am trying to do right now is that I have a level that is the actual game and then a level that is my gameover and titlescreen. Now in the actual game level, I call loadLevelDeferred when the timer hits zero in order to load the gameover screen which works fine. Now on the game over screen I have it that if you

[2013-10-20 23:13] collinhover commented on #101
Sounds like you just need the player to be fully reset? The player is `persistent` by default, meaning it is never fully released for garbage collection and every time you make a new player it uses the existing one. You can set the player's `persistent` property to false, or you can clear it manually via the game's `clearPersistentEntity` method or by replacing the game's `persistentEntities` prop

[2013-10-20 23:15] collinhover commented on #99
@Pattentrick don't think I'll be able to get to it today, but I should have time tomorrow or Tuesday at the latest. Thanks for creating the demo!

[2013-10-21 16:22] Pattentrick commented on #99
@collinhover Ok, thanks!

[2013-10-21 19:48] collinhover commented on #99
@Pattentrick had a second to take a quick look and it appears that you're using r5 release. I'm going to try the demo later today, then I'll switch it to r6dev and see if it makes a difference. r6dev has a bunch of pathfinding fixes and enhancements, so hopefully that'll fix it. More soon!

[2013-10-21 20:19] Pattentrick commented on #99
@collinhover great! I am looking forward to it. I hope r6dev fixes this strange behavior. thanks!

[2013-10-21 22:29] collinhover commented on #99
@Pattentrick yep, updating to the latest dev branch fixes the issue. On a related note: your character may do a rubber band perpendicular to the path direction if your character's speed is very high and your friction is low.

(edit: don't forget to save your original user config before updating)

[2013-10-21 22:29] #99 closed, assigned to nobody

[2013-10-22 10:05] Pattentrick commented on #99
@collinhover i switched to r6dev. works like a charm now :D

[2013-10-23 17:46] Pattentrick opened #102 "Pathfinding and Animation?"
Hi there,

now back to my favorite topic: pathfinding! I switched to impact++ r6dev, because r6 fixed a bug of mine mentioned in Issue#99. Now i think i have found another bug related to animations and pathfinding.

When my player is moving down in a straight line, for a very short moment the „down-animation“ gets interrupted by my „moveX-animation“, causing the „down-animation“ to start all over

[2013-10-23 19:36] collinhover commented on #102
Easy answers first:
- the pulsing fade is a temporary damage immunity effect applied to characters when they first spawn. On your player, set `temporaryInvulnerabilityAlpha: 1` to ignore the visual effect (immunity is still applied).
- the initial animation is getting swapped to idleX because all characters have a method called `updateCurrentAnim` that automatically sets animations based on the st

[2013-10-24 08:47] Pattentrick commented on #102
@collinhover Thank you for your answer and explaining me how the `temporaryInvulnerabilityAlpha` and `updateCurrentAnim` works! For now i will try to override the move methods to work around my main issue.

[2013-10-25 09:12] Pattentrick commented on #102
I modified the "move" + direction methods to fix the facing issue. However the animation on moving down, when using pathfinding, is still broken.

It seems like that the moveLeft and moveRight methods get called repeatedly on moving down. After those calls my „idleDown-animation“ gets executed everytime, and my „moveDown-animation“ gets interrupted again.

So on moving down, my player shows his „m

[2013-10-25 16:32] collinhover commented on #102
Okay, so it looks like there are actually 2 issues:
1. `moveLeft/Right` are being called occasionally, causing short flickering of animation to left and right.
2. The player is injecting the `idle` animation for short periods while moving.

Is this a good summary?

[2013-10-25 16:48] Pattentrick commented on #102
A good summary indeed! What confuses me the most about this issue, is that it just seems to affect the down movement.

[2013-10-26 15:01] bdaenen commented on #77
My apologies for disappearing for a while, things got busy and some personal stuff came up. I've been fixing, refactoring and testing stuff in different situations, and have added some example sound effects to the impact++ run & jump demo.

One more question: How do we handle dieing entities? Currently I'm using `sourceEntity.onRemoved` as a signal to remove and clean up the sound object, but when

[2013-10-26 17:30] collinhover commented on #77
Can you give an example situation where you'd want to hear sound for an entity dieing off screen?

We could add a property to the core entity that allows devs to override the instant death when off screen, in case they want to play the death sound in all cases. Would this do what you are suggesting?

[2013-10-26 20:50] bdaenen commented on #77
An example would be the player throwing a grenade. I figured it made sense for the grenade entity to hold the explosion sound effect (allowing different projectiles to have different sounds, regardless of which ability fires them), but whenever they drop out of the screen they'll silently die.

Overriding the instant death sounds good! It probably wouldn't be too big of a performance hit either as

[2013-10-26 21:22] collinhover commented on #102
Small update: I've got some rather large changes internally that I need to double check for stability, then I'll dive into this fix.

[2013-10-26 22:19] collinhover commented on #77
Entities never draw when off screen, so we don't need to worry about that in any case. Internally I've added a `canDieInstantly` property to ig.EntityExtended, which defaults to true. You can set it to false to disable instant death when off screen, but in either case an entity will always die instantly if it has no death animation. I've also split the `kill` method into `kill` and `death`, where

[2013-10-27 08:27] bdaenen commented on #77
The onRemoved is fine for cleaning up the sound automatically I think, its simply used to detect removal of the source entity (if there is one) to trigger it's own destroy. No playing is done here :)

For playing a sound effect just once I can either add another option to the constructor or add a playOnce method. The first option sounds the easiest. All that we'd need to do is prevent binding the

[2013-10-27 14:52] collinhover commented on #77
Sounds good. Perhaps name the play once and destroy property `suicidal`? This matches the same property on the trigger entity. On the trigger the suicidal property is true by default, do you think this would be good for sounds as well? You've probably done this, but just in case you haven't, it'd be good to try to match some of the method/property names from ig.Animation, such as `playFromStart( o

[2013-10-27 15:06] collinhover commented on #102
I noticed in your player you override the `moveToLeft/Right` methods to only allow a facing change when the character is already moving. What exactly did this fix for you?

[2013-10-27 15:26] Pattentrick commented on #102
This fixed the strange facing behavior of the player on moving down, which you can see on this video:

https://www.youtube.com/watch?v=GItt0ky80hA

[2013-10-27 15:34] collinhover commented on #102
Oops, this was a silly bug. A minor change to fix some issues with entities sticking to slopes in side scrolling mode was causing the `movingY` property to be set to false in most cases of top-down mode. The move animation requires that the character be `moving`, and that property is just a combination of `movingX || movingY`. However, neither was true, so the idle animation was playing.

I'll be

[2013-10-27 15:38] collinhover commented on #102
I noticed in your user config you have the pathfinding delay set to 0, which means your characters are going to try to find a new path every frame, and this is rather expensive. However, the pathfinding delay is behaving incorrectly, in that if the character has no path it should not delay finding a new path, so I'll fix that and include it with the upcoming push.

[2013-10-27 15:49] collinhover commented on #102
You can remove `PATHFINDING_DELAY:0` from your user config, as the pathfinding delay is now reset when the character starts moving to another entity or point. This means the character will find a path and start moving instantly instead of having random delays.

As mentioned above, you can remove your `moveTo` + direction overrides, I've included those changes in the the library (thanks for trying

[2013-10-27 15:56] Pattentrick commented on #102
Sounds great, can't wait to get my hands on the fixed version! Thank you for your effort on this one and fixing all the issues. And thank you for including my changes in the library. That makes me actually very proud ;-)

I do like impact++ very much, keep up the good work!

[2013-10-27 16:56] bdaenen commented on #77
`suicidal` sounds good :) as for `playFromStart`, impact plays sounds from the start by default whenever `play` is called. I'll add an optional time argument to `play` so a sound effect can be played from a certain point in time and add a `playFromStart` method for consistency :) reversing should be quite easy as well if all browsers support it. I'll have a look at the animation methods and adjust

[2013-10-27 17:14] collinhover commented on #102
Everything should be much smoother and working as expected.

[2013-10-27 17:14] #102 closed, assigned to nobody

[2013-10-28 17:18] Pattentrick opened #103 "Usage of the spawnEntity method and proper file include?"
Hi there,

i have some trouble with the `spawnEntity` method, i think i misunderstand the usage of it. There is an animated „cursor entity“ in my game that replaces the default browser cursor.

[code]

I have tried to spawn it after the level loads like this:

[code]

However i just get the following error: Uncaught Error: Can't spawn entity of type: undefined. It does not exist in namespace 'ig'

[2013-10-28 21:53] collinhover commented on #103
You do need to require the cursor module, i.e. your final code example is correct. The only time Impact scans the files in game/entities is when you are using the level editor, Weltmeister, and it only does that because we tell it to in the Weltmeister config. This is strictly ImpactJS behavior and is unchanged by Impact++.

One thing I'd suggest is to override `buildLevel` instead of `loadLevel`

[2013-10-28 21:53] #103 closed, assigned to nobody

[2013-10-28 23:19] Pattentrick commented on #103
Many thanks for your fast anwser and your explanation about how this whole thing works. I accept your suggestion and will use `buildLevel` in the future :-)

[2013-10-30 14:23] collinhover commented on #88
I'm adding in a `hidden` property to entities, as well as methods `hide` and `unhide` to set this property. Currently accounting for this property are: all the methods that get entities, creatures with their prey and predators, and the line of sight method. This may not do exactly what you want, but I am still planning on adding a check for entities in the line of sight method.

[2013-11-02 21:20] Mmarzex opened #104 "Changing Animation"
This may be a stupid question but if I set different states in an entity's animationSettings. How do I change currentAnim to one of them?

[2013-11-02 23:39] collinhover commented on #104
If your entity extends ig.Character, `updateCurrentAnim` has some automatic animation handling. If it doesn't handle all the states you need, you can easily override it.

You can also set the `animInit` property to the name of the animation you want the entity to start with, but characters will usually change this on their first update.

[2013-11-02 23:39] #104 closed, assigned to nobody

[2013-11-02 23:59] Mmarzex commented on #104
Alright, I'll try some of those options. I'm not sure that will work though, the issue is my sprite sheet is basically a bunch of different items for the game I'm working on, what I ideally want to do is every time an item is spawned it loads a different frame, can I do that in the init function?

[2013-11-03 00:27] collinhover commented on #104
Assuming each frame is the same size, which impactjs requires by default, yes. Within each item class, set the `animInit` as I mentioned above. If you have only one item class, override the `resetExtras` method and do it there based on what item it is at that spawn.

[2013-11-03 00:43] Mmarzex commented on #104
I just have one EntityClass for each category of items. Essentially it is three or four categories which are each different entities but multiples of the entity are spawned by different spawners so each category has 10+ different images that it could look like. I guess I don't really know how to do that so that when it it is spawned it changes to a different image.

[2013-11-03 00:47] Mmarzex commented on #104
Also my item is just an EntityExtended.

[2013-11-03 01:12] collinhover commented on #104
In that case do both of what I suggested in my last reply.

[2013-11-06 11:38] Pattentrick opened #105 "How to use textAlign with UIText?"
Hi there,

i am trying to center text inside an UIText entity. Here is my Code so far:

[code]

And i am spawning that entity like this:

[code]

Although i set the size property in the code above, the actual size of the entity later on in the game is approximately the width of the text. But even if i set the size porperty in the update method manually to the correct size, the text will not be cen

[2013-11-06 14:11] collinhover commented on #105
You're not doing anything wrong :) at the moment you can't force the text to be a specific size. It is always the size of the text. There are max width and height properties if you're trying to make sure it doesn't expand too far. Does that help or is there another reason for being specific widths?

[2013-11-06 16:33] Pattentrick commented on #105
Yeay! I am doing nothing wrong :)

Hmm ... i used a specific width because i thought i needed that for a proper text align. Like in classic webdev for example, where a html element has a specific width and i add a `text-align:center;`. I thought UIText behaves similar. So if i made my entity 100px wide the text gets centered about 50px.

So there is no build in way to center text on the screen or

[2013-11-06 22:25] collinhover commented on #105
Yes, the text align is really only for multiple lines in the same text element. But centering a UI element in the screen is built into all UI elements. Set `posAsPct === true` and `posPct === { x: 0.5, y: 0.5 }`. If it needs to be in the center of another UI element, check out the `link()` method and the `linkAlign` property.

[2013-11-06 22:25] #105 closed, assigned to nobody

[2013-11-07 11:56] Pattentrick commented on #105
I will check out those methods. Thank you!

[2013-11-09 04:29] racingcow opened #106 "Animation Question: Long-Range Melee Weapon"
Hello,

I am using impact++ on a top-down action RPG, and I am trying to make the main player use a whip for a weapon. The whip, when fully extended, should be several times longer than the size of the player's "normal" (walking) sprite size. Something like the whip from the Secret of Mana...

![whip-right-084](https://f.cloud.github.com/assets/1176637/1505895/32add7de-48f5-11e3-8322-9dc3152a292b.

[2013-11-09 17:19] collinhover commented on #106
I have a similar entity in the 3rd level/episode of http://collinhover.com/biofleet (try running too close to the lizard creature). In my case, I decided to create an ability, ig.AbilityEat, that extends the ig.AbilityMelee. The lizard has an "eat" animation, which includes the first part of the tongue and opening his mouth. The lizard's eat ability uses casting to show this "eat" animation and cr

[2013-11-09 17:19] #106 closed, assigned to nobody

[2013-11-09 20:00] racingcow commented on #106
Thanks for the advice, @collinhover. I'll give that a try. Also, as always, thanks for the hard work on this awesome library!

[2013-11-10 06:18] #90 closed, assigned to nobody

[2013-11-12 20:33] collinhover commented on #77
@bdaenen don't worry about missing r6, whenever you're ready with the audio we'll merge it into r6 and re-release it, or just have r7 be the audio specific release. I went ahead with r6 because I wanted to wrap up all the recent changes.

[2013-11-14 19:21] bdaenen commented on #77
Sounds good :) I'm currently breaking my head over all the possible use cases, some more browser inconsistencies (read as: working around the various bugs still present in various browsers) and some refactoring. From the point where I thought I nearly had it all down(about a month ago) I pretty much rewrote every line of added code, and that's still only for sound effects :)

[2013-11-17 22:05] racingcow opened #111 "Conversation Tree"
Hi @collinhover,

I have need of a conversation/dialogue tree in my top-down RPG game. An example might be if my PC was playing the part of [the bridgekeeper from Monty Python and the Holy Grail](http://youtu.be/pWS8Mg-JWSg)...

![conversation state transition 2](https://f.cloud.github.com/assets/1176637/1559474/54e7fd0e-4fd3-11e3-9b2b-22ca1a602e8a.png)

While I could probably achieve this by care

[2013-11-18 01:18] collinhover commented on #111
Neat! I don't have plans for this at the moment, and I've always found it works best to develop features within the game you need them for, so feel free to give it a shot.

It might be useful to add a few more things to each conversation step, such as `target` which is just like trigger's target property so that each step can activate triggers, and  a per step `messageContainerEntity` so that not

[2013-11-18 03:23] racingcow commented on #111
Thanks, @collinhover. I'll do some work on it in the evenings this week and let you know when I have something to show.

[2013-11-26 11:53] Pattentrick opened #112 "How to position an UITextBubble?"
Hi there,

i have some trouble with the UITextBubble element. I want to spawn my text bubble at the position of my player. But when i do something like this:

[code]

The text bubble will spawn at the top left corner of the canvas. Adding a `performance: 'dynamic'` to it will at least spawn it at the top left corner of the gameworld, but it's still ignoring the spawning coordinates mentioned above

[2013-11-26 19:06] collinhover commented on #112
Three things are relevant, `moveTo`, `fixed`, and `posAsPct`. UI elements are by default `fixed === true`, which means they position themselves relative to the camera, not the game world. They are also `posAsPct === true` by default, which means they position themselves based on a percent of the screen size as set by `posPct`. If you want a UI element to follow an entity, the easiest way is to spa

[2013-11-27 13:11] Pattentrick commented on #112
Thanks for explaning this to me @collinhover! I do understand UI elements much better now!

However i still have issues with the positioning. Setting `fixed === false` and `posAsPct === false` enables me to set the position via the spawnEntity-method, but altering the position after that via `pos.x/pos.y` is not possible.

The moveTo-method will move the text bubble to the specified entity, but on

[2013-11-27 16:16] collinhover commented on #112
Try setting `fixed` and `posAsPct` back to true and then call moveTo. Does that move the text with it?

[2013-11-27 16:27] Pattentrick commented on #112
Setting `fixed`  and `posAsPct` back to true, and call moveTo, will display the text bubble in the upper left corner without any text inside it.

I also ran into a new problem. The dimensions of the text bubble gets messed up on browser resize, with small font sizes even on "start up". I am making a video about that problem right now, should i post it in here or start a new issue?

[2013-11-27 17:18] collinhover commented on #112
You can post it here. Are you using the r6 release (master branch)?

[2013-11-27 17:20] collinhover commented on #112
Also you can look through the conversation entity source code to see exactly how it handles text bubbles, but what you're describing is not normal behavior.

[2013-11-27 17:38] Pattentrick commented on #112
Here is the video:

http://www.youtube.com/watch?v=5_mdpw229nM

The text bubble is too big/small in comparison to the text when i minimize/maximize the browser window. On my 10px font it's initially broken (first example in the video), the second example (11px font) works fine at the beginning but gets messed up after the window resize.

Yes, i switched to the current r6 release a few days before,

[2013-11-27 20:11] collinhover commented on #112
Do you have a demo? I'll try to look at it after Thanksgiving =)

[2013-11-28 10:54] Pattentrick commented on #112
Happy Thanksgiving @collinhover!

I made a demo to showcase my problems:

https://github.com/Pattentrick/text-bubble-issue

I spawn the the text bubble (i changed it to a textbox in the meantime) inside the speak-method of this file:

'game.entities.player'

The text bubble/text box is located under:

'game.entities.text-output'

Thanks for looking at this after Thanksgiving! I am sure that i just

[2013-11-29 07:09] racingcow commented on #111
It took me a bit longer than I thought it would, but I have an update of sorts. Take a look at this [video of the conversation described above](http://youtu.be/6Rakx0o9D5k) inserted into the first level of the supercollider demo.

![image](https://f.cloud.github.com/assets/1176637/1643393/05fd53e2-58c5-11e3-8af7-a2035dcd1b17.png)

If this looks good, I'll try and get it into its own level in super

[2013-11-29 15:39] collinhover commented on #111
Cool demo :-) looks good to me. Did you check for bugs such as layout errors when the window is resized in the middle of a conversation?

[2013-11-29 21:48] racingcow commented on #111
No, I haven't tested that yet. Now that you mention it, I suspect there will be some more work to do around that. I'll take a look at that as soon as I can.

[2013-12-04 17:33] Pattentrick commented on #112
Small update: The demo does not use the r6 release! I switched some files by accident. However, using the r6 release with the demo will not solve the problem. I tried that just a few minutes ago.

[2013-12-04 20:26] collinhover commented on #112
Sorry it took me so long to look at this! This issue is caused by not pre-loading the font file, so the text box/bubble doesn't know what size the text is when it tries to resize it. For now, you can fix this one of two ways while I work on a fix to handle late loading fonts:

A. Add the font to your text output class (which extends the text box/bubble class).

[code]

B. Change the CHAT font conf

[2013-12-04 21:12] collinhover commented on #112
I'm pushing a change to the dev branch that should fix this issue without needing to preload all images, and it fixes a nasty little bug with resizing too. Now all images loaded after the game has started will force a global resize on the next update.

[2013-12-04 21:14] collinhover commented on #111
I did make a few changes to the dev just now that fixed some resize bugs, so you may want to grab the latest when you get a chance.

[2013-12-04 22:51] Pattentrick commented on #112
Glad to hear from you @collinhover :D I hope that you had a pleasant thanksgiving!

Thanks for looking at this again. I downloaded the current dev branch. As you said the bug is now fixed. Thanks! Unfortunately i still can't position the UITextBox via `pos` or `moveTo` after spawning. I also had a new problem with resizing. Some of my UI elements were not resizing properly.

You can see a video of

[2013-12-05 00:53] Pattentrick commented on #112
Small update. When i try to load a level inside Weltmeister i get a a TypeError:

Uncaught TypeError: Cannot call method 'add' of undefined entity.js:1202

I am using the dev branch right now.

[2013-12-05 02:12] collinhover commented on #112
What is the call stack for the error in WM?

[2013-12-05 10:12] Pattentrick commented on #112
Here is the WM call stack:

[code]

[2013-12-05 19:44] collinhover commented on #112
UI Elements should not be dynamic. If you need to move them, set their performance to movable, otherwise they are static by default. Dynamic is for entities with full collisions, which UI elements can't do because they're built to be static.

The WM bug is fixed in the latest dev. It was a silly mistake on my part, sorry! I'm not sure what the best way to fix the issue of positioning after spawn f

[2013-12-06 18:44] Pattentrick opened #113 "Issues with pathfinding on unwalkable nodes."
Hi there @collinhover !

I know that you are working currently on the problems i mentioned on issue #112. So i feel a little bit shabby to bring a new topic on, but right now i am struggling with an pathfinding issue that prevents me to make any progress on my game.

I am working on an old school point and click adventure. I rebuild a simplified version of the famous SCUMM interface. But i can't i

[2013-12-07 13:21] Pattentrick commented on #113
Update: Checking for the neighbors of the node (pathfinding.js --> getPathTo method --> line 1063) will move the player beneath the chest (first picture)! So far so good!

[code]

Needless to say that this will just work in this case. But for my other examples (beach, prison, pirateship), or items higher than the chest in the first picture, it won't work because the neighbor nodes of the destinati

[2013-12-07 16:06] collinhover commented on #113
The major problem I see here is that you're wanting certain tiles to appear walkable but still collide as usual. We can't have the pathfinding ignore collision tiles universally, because then pathfinding becomes useless. However, you just want tiles on the border of the level to be walkable, right?

Pathfinding maps! Paint some green over the collision tiles you want the pathfinding system to trea

[2013-12-07 16:09] collinhover commented on #113
On a side note, the reason your character is going nuts with pathfinding when you change his collision box to his entire body size is that he has no gravity. Characters with gravity always pathfind from their feet, but characters without gravity are assumed to be top-down so they pathfind from any side.

[2013-12-07 17:50] Pattentrick commented on #113
Painting some green pathfinding maps over the collison tiles won't do anything right now. So if you could modify the pathfinding code ... that would be soooo awesome! Thanks in advance for your help!

[2013-12-08 16:28] bdaenen commented on #77
I finally seemed to have worked out most quirks I was having in Firefox and simplified a couple of things :) if I don't run into any really big issues anymore this should (finally) be properly usable soon. My apologies for the amazingly long delay :(

I'll be testing fallback to default sound a bit more today along with some more situational cases and should be able to shoot you a pull request rel

[2013-12-08 19:03] collinhover commented on #77
Sounds great, looking forward to it!

[2013-12-08 21:12] collinhover commented on #113
Again, sorry for the delay. Can you try the latest dev? I've set it so that the two green and one yellow/orange tile will force a node to be walkable, even if a collision tile is there. I'm not entirely sure how this will affect pathfinding. Let me know how it works for you.

[2013-12-09 00:06] racingcow commented on #111
Thanks, @collinhover. I synced my fork up to the dev branch and re-ran my grunt script to setup supercollider to run this evening. My new conversation code definitely still has issues when resizing. I was away on business last week, but should be able to get some time this week to look into this issue. Hopefully it is something simple, and I'll have a PR soon.

[2013-12-09 12:39] Pattentrick commented on #113
Hi @collinhover,

first of all, you don't have to apologize for the delay, or for any mistakes/bugs mentioned on other issues! I tried some other HTML5/JavaScript-Engines, but sticked with ImpactJS. But Impact just provides me with the very basics, everything else had to be done from the scratch. That was pretty time consuming and sometimes frustrating.

Impact++ makes everything better. With ++ i

[2013-12-22 17:50] collinhover commented on #113
My guess is that you've added walkable nodes on all the wall spaces? This is going to force the player to try to walk up into them, and when walking up they will try to face up. This seems like the proper behavior in most cases. For your special case, a simple fix for what is happening in the video might be to only add a walkable node right on top of the chest. Have you tried that?

[2013-12-22 17:53] collinhover commented on #113
Also, when you force the chest tile to be walkable, you might also force all the tiles above it and to the left and right to be unwalkable by using either the red pathfinding map tile or padding it with solid collision tiles. This way, the pathfinding can't find paths outside of the map like it is doing in the video. Or do you want that behavior?

[2013-12-26 05:03] racingcow commented on #111
Okay, so after looking at this again it either isn't simple or I have missed something.

After updating [`Conversation`](https://github.com/racingcow/impactplusplus/blob/conversation-tree/lib/plusplus/entities/conversation.js) and creating [`UITextBubbleChoice`](https://github.com/racingcow/impactplusplus/blob/conversation-tree/lib/plusplus/ui/ui-text-bubble-choice.js), which derives from `UITextB

[2013-12-28 23:26] cmaas opened #114 "Map layer distance broken?"
I loaded the jump'n run demo and added a second layer _background_ to the level _side-scrolling_ with a distance of 2. Layer _main_ still has distance 1. However, if I start the game, the ordering is all mixed up. _main_ seems to be farther back, but the _background_ layer is also far away. The only front layer seems to be _collision_, since I'm walking around in empty space.

![bg-layer](https://

[2013-12-29 00:11] collinhover commented on #114
Impact++ merges all prerendered maps into one to save on draw calls. Repeated maps are not merged, but it is possible that maps with different distances are getting merged incorrectly. Can you enable debug and check the background maps panel? Is there just one background map?

[2013-12-29 10:49] cmaas commented on #114
I disabled pre-rendering for the background map for now, but no difference.

In debug: I'm not sure how it would show different background maps. It shows only one tileset. If I toggle "pre rendered" in debug, it hides and shows the main map, although the main map isn't ticked as "prerender" in Weltmeister, too. I guess it automatically prerenders main?

This is the debug panel. That's all there is

[2013-12-30 02:50] collinhover commented on #114
If the debug only shows one map, they've been merged. I'll add a check for distance mismatches as soon as I can, thanks for submitting the bug :-)

[2013-12-30 06:02] collinhover commented on #114
Should be working as expected on latest dev!

[2013-12-30 06:02] #114 closed, assigned to nobody

[2013-12-30 06:06] collinhover commented on #111
Your issue may be related to #112. Let me see if I can figure out a good solution for that first and maybe it'll fix this as well.

[2014-01-01 14:14] cmaas commented on #114
Thanks for the quick fix. It works, altough I have to experiment with different distance settings. I think plain old Impact allows to set the distance to something like 50 and have the background scroll really slow. If there are multiple backgrounds in Impact++, there might be something confused. I did only a quick check and didn't wrap my brain around it yet fully. I gonna open a new issue if thi

[2014-01-10 18:03] Pattentrick commented on #113
I stopped working on this part of my game, since i heared nothing from you for about 2 weeks, before you responded to me on the 23rd. And exactly on this day, i started my vacation. So sorry for my late anwser to your suggestion!

Back to topic: It works! Painting the tiles like you suggested fixed my Issue with the facing direction! Great! Thank you :D

[2014-01-10 18:03] #113 closed, assigned to nobody

[2014-01-10 19:09] collinhover commented on #113
Good to hear =) sorry for the slow replies, been really busy lately.

[2014-01-11 03:06] parazox opened #115 "ui-meter + ejecta could not work only with real device"
I built supercollider example with ejecta.  it works well in simulator. but in real ios device ui-meter setValue function does not work.
meter could not filled.

![2014-01-10 23 11 46](https://f.cloud.github.com/assets/818934/1893074/34bbbf7c-7a6a-11e3-8738-c7580bb3f1b5.png)

[2014-01-11 05:02] collinhover commented on #115
My guess is that the setValue and/or value properties are used by something else overriding the ui-meter. Can you run a search and replace on all instances of the property `value` and method `setValue` in the lib/game/entities/player.js and lib/plusplus/ui/ui-meter.js files? Rename them something such as `meterValue` and `setMeterValue`. Does this fix the issue?

[2014-01-11 05:28] racingcow opened #116 "spawnAndMoveTo Question"
Hello,

I have created a generic `SpawnerCharacterLibraried` module, very similar to the one used in the supercollider demo, to use to generically create various spawners in Weltmeister. I have it set up to spawn at a void entity at a location underneath it. Everything works fine, and the spawner creates entities of the specified type at the void entity as it should.

Now, after they spawn, I want

[2014-01-11 06:16] collinhover commented on #116
In the spawnSettings, set the `preyName` property to the name of the entity you want the creatures to move to after spawning. Make sure the creatures either have infinite reaction and search distance or they spawn within their search distance range to the final move to target. Creatures manage their own movement via wander, prey, and predator, so trying to use move to directly doesn't work so well

[2014-01-11 12:21] Pattentrick commented on #112
Hi @collinhover,

you suggested to spawn a conversation and trigger it. To be honest, i dont need  to position my textbox manually in my special case. In my game the player needs to speak, if he does something (like combining items in his inventory, picking up items, interacting with objects in the game world). So I think the conversation entity does exactly what i need.

But how do i spawn and tr

[2014-01-11 15:29] collinhover commented on #112
Programmatically, you can do it as you would with any trigger:

[code]

You should be able to replace `trigger` with `activate` and it will do the same.

[2014-01-11 16:07] Pattentrick commented on #112
I am sorry, i still dont get it :-(

Like this? (Code does nothing)

``` javascript```
var myConversation = ig.game.spawnEntity(ig.EntityConversation, 0.0, 0.0);

myConversation.addStep( 'player', 'hello world', 1, {
    font: new ig.Font( _c.PATH_TO_MEDIA + 'monologue_font_10px.png' )
});

myConversation.trigger();
[code]

[2014-01-11 17:27] collinhover commented on #112
You've reversed the entity name and text, it should be:

[code]

Conversations hook into speakers, i.e. entities that are saying the words of that step in the conversation, and a step is skipped if a speaker cannot be found for that step. If you're looking for something more like comic book narration boxes that doesn't require a speaker for each step, try `ig.EntityNarrative`.

[2014-01-11 17:39] Pattentrick commented on #112
Switching the first two parameters fixed my problem! You are the best collin :D

So is this example in the conversation.js a typo? (line 55)

``` javascript```
// the following is the same as the above
// only it adds onto the end of the conversation
conversation.addStep( 'player', 'hello world', 2, {...} );
[code]

[2014-01-11 17:47] collinhover commented on #112
Oops, yes, that is a typo. Thank you for pointing that out.

[2014-01-12 04:41] racingcow commented on #116
Setting the `preyName` works great. They now move to the entity to which it is set. Thanks, @collinhover!

[2014-01-12 05:54] #116 closed, assigned to nobody

[2014-01-12 12:57] Pattentrick commented on #112
The conversation module is very cool, you did a great job on this!

But i noticed that the space between the speaker and the text bubble depends on the length of the text. Small textbubbles are not far away enough, and big textbubbles are too far away.

Video:

http://www.youtube.com/watch?v=Se3WzHDq6e4

It would be awesome if the space between the speaker and the textbubble is always the same, no

[2014-01-12 18:00] collinhover commented on #112
I think, instead of using `offsetPct` in the move to settings, use `offset` and give it a fixed value. See notes here: https://github.com/collinhover/impactplusplus/blob/master/lib/plusplus/core/entity.js#L3446. I always try build things in such a way that devs can position things by percent or by a fixed value. Let me know if that does not work as expected.

[2014-01-12 22:21] Pattentrick commented on #112
Good to know that i can use a fixed value or or a percentage at any time! Unfortunately the problem stays the same when using a fixed value.

``` javascript```
            textbubble.messageMoveToSettings = {
                matchPerformance: true,
                offset: {
                    x: 0,
                    y: -40
                }
            };
[code]

[2014-01-12 22:47] collinhover commented on #112
You're correct that entities are aligned center to center when using move to, so you'll also need to change the `align` property: https://github.com/collinhover/impactplusplus/blob/master/lib/plusplus/core/entity.js#L3442

[2014-01-12 22:57] Pattentrick commented on #112
Thank you for clarifying this for me! Works like a charm!

Using it like this:

``` javascript```
            textbubble.messageMoveToSettings = {
                matchPerformance: true,
                offset: {
                    x: 0,
                    y: -30
                },
                align: {
                    x: 0.5,
                    y: 1
                }
            };
[cod

[2014-01-13 00:55] Pattentrick commented on #112
The game crashes in Firefox (v 25.01) when i try to spawn a conversation.

[code]

The last thing that i can see before the game chrashes, is an empty textbubble. Maybe that has something to do with not preloading the font that i am using there?

``` javascript```
            textbubble.addStep( text, 'player', 1, {
                r: 1,
                g: 1,
                b: 1,

[2014-01-13 02:22] collinhover commented on #112
`this.data` is a reference to the sprite sheet or image used to draw. In this case it would be the font file as you suggest. It shouldn't be drawing with the data if is doesn't exist, so this is likely a bug, but have you tried preloading the font?

[2014-01-13 03:58] parazox commented on #115
I had rename setValue to meterValue but got same result.

On the other hand i tried some setting on ui-meter.js
and found out that barSize.x causes this.

by default
this.barSize.x is 32

I changed this.barSize.x to 33
and this solved the problem.

I do not know why be so...
might be bug in Ejecta

[2014-01-13 12:19] Pattentrick commented on #112
Preloading the font fixed the problem!

``` javascript```
ig.CONFIG_USER = {
...
FONT: {
    CHAT_NAME: 'my_font_file.png'
}
...
};
[code]

[2014-01-13 13:19] Pattentrick opened #117 "No scaling on Chrome Mobile (Android)."
Hi @collinhover,

my game does not scale on my chrome mobile (android). But the supercollider demo does, so i think that i just missed something. I already compared the config-user.js and main.js from the supercollider to my game without any success.

But when i do an `alert(ig.system.scale)`on chrome mobile it will print a `3`. However the game stays in it's smallest size (320px x 200px). Strange

[2014-01-13 17:15] collinhover commented on #117
Have you tried editing the max/min scale config options? Something like:

[code]

If this fixes it, there is a bug in the scaling as it should scale up to infinity by default.

[2014-01-13 17:33] collinhover commented on #115
Thank you for checking. I suspect there is something else at work, but for now I'm changing the name of the value property as I noted above as well as fiddling with the bar size. Perhaps there is a rounding/sub-pixel issue on the actual iOS device.

[2014-01-13 17:33] #115 closed, assigned to nobody

[2014-01-13 17:46] collinhover commented on #112
Good, but we still shouldn't be getting errors if an image isn't preloaded. Most recent push should fix that, would you mind double checking on your end by not preloading the font?

[2014-01-13 18:14] Pattentrick commented on #112
I added the image.js, font.js and the image-drawing.js from the latest dev to my project. However the game still crashes in firefox when i dont preload the font in my config-user.js.

Should i upload a demo for you for further debugging?

[2014-01-13 18:16] collinhover commented on #112
That would help! I'll try to look into it later today.

[2014-01-13 23:21] Pattentrick commented on #112
Here is the link to the demo:

https://github.com/Pattentrick/firefox-issue

After the game starts, i spawn a textbubble (main.js --> tellBackgroundStory-method). If i dont preload the font image, firefox crashes.

PS: The impact and weltmeister source code is not included in the demo.

[2014-01-14 00:37] Pattentrick commented on #117
The max scale gets ignored when i edit the config options. But changing the min scale in the options does have an effect on the game. Setting the min scale to 4 for example, will scale the game as expected.

But after loading a new level, it scales back to the original size of 320 x 200.

I have no idea what the cause of this problem is. The only thing that maybe could be related to this, is my cu

[2014-01-14 15:45] collinhover commented on #117
This is hard for me to test myself as it only appears on Android + Chrome, correct? What value do you get for `ig.ua.pixelRatio`? Can you add an alert here, https://github.com/collinhover/impactplusplus/blob/dev/lib/plusplus/core/game.js#L2509, and tell me what the values of the local variable `scale`, `_c.SCALE_MIN`, and `_c.SCALE_MAX` are?

[2014-01-14 16:12] collinhover commented on #112
This is related: http://lists.w3.org/Archives/Public/public-whatwg-archive/2013Mar/0005.html

When the image is not preloaded, it is getting a size of 0 in some cases, and Firefox doesn't appreciate dimensions of 0. Next push should fix all errors whether you preload or not. However, if you don't, fonts/images/ui may not resize correctly until the image is loaded, which is the correct behavior.

[2014-01-14 16:24] Pattentrick commented on #112
Whoa, good to know. I think i will preload everything in the future. Better safe than sorry ;-)

Thanks for your hard work and support on this!

[2014-01-14 16:38] Pattentrick commented on #117
On further inspection the problem also occurs on Firefox for Android and on the default browser for Android (don't know if it has a name ). On iOS everything seems to be fine.

Here are the values you requested:

[code]

[2014-01-14 16:53] collinhover commented on #117
The pixel ratio is the issue, I believe. The scale is divided by the pixel ratio to get the final style width/height of the canvas. This accounts (or should account) for retina devices. ImpactJS only accounts for the window pixel ratio, and webkit also has `webkitBackingStorePixelRatio`. Can you get the value of the canvas context's `webkitBackingStorePixelRatio`?

[2014-01-14 16:55] collinhover commented on #117
Also, if you have access to iOS, can you get the same 5 values for a retina device?

[2014-01-14 17:27] Pattentrick commented on #117
On Chrome and the default browser `webkitBackingStorePixelRatio` is `1`. On Firefox it is `undefined`.

I don't have access to iOS right now, but i will phone a friend once he is back at home if he could do a check on his iPad mini. But i think that iPad mini does not have a retina dsiplay.

[2014-01-14 18:20] Pattentrick commented on #117
Update: The iPad mini of my friend does not have a retina display.

[2014-01-14 21:26] collinhover commented on #117
Based on http://www.html5rocks.com/en/tutorials/canvas/hidpi/, it looks like Safari and Chrome disagree on the handling of the pixel ratio. I believe on Safari / iOS retina the `webkitBackingStorePixelRatio` is the same as the window pixel ratio. Can you try changing the lines starting here, https://github.com/collinhover/impactplusplus/blob/dev/lib/plusplus/core/plusplus.js#L245, to:

[code]

Doe

[2014-01-14 22:11] Pattentrick commented on #117
The game won't start (even on desktop) when i edit the plusplus.js as you suggested.

`Uncaught TypeError: Cannot read property 'webkitBackingStorePixelRatio' of undefined`

ig.System.context seems to be undefined?

[2014-01-14 22:41] collinhover commented on #117
Oops, I think it may need to be `ig.system.context`.

[2014-01-14 22:53] Pattentrick commented on #117
Same problem with `ig.system.context`. Even if i just do a `console.log( ig.system.context );` on the resize method at the plusplus.js i get an undefined.

Example:

``` javascript```
/**
             * Resizes system and dispatches resize signal.
             * @param {Number} width
             * @param {Number} height
             * @param {Number} scale
             * @param {Boolean} [force=f

[2014-01-14 23:03] collinhover commented on #117
Oops, my fault. `this.context` should work, since that is a method of the system.

[2014-01-14 23:20] Pattentrick commented on #117
No more `undefined` with `this.context`. No more "crashes" on desktop :D

But on mobile the game does not start. For a brief moment you can see the loading bar and then ... nothing. I am not sure, but it seems like the canvas get's bigger and bigger and after some time the browser crashes (firefox/chrome).

[2014-01-14 23:32] Pattentrick commented on #117
As i mentioned on my first post, the supercollider demo runs perfect on firefox/chrome (mobile). And my game does not ... so what is the biggest difference between these two games? Ok ... i have lots of custom code at my game, but even on the titlescreen (where nothing happens, and no custom code get's called) scaling won't work.

Could it be the config file? Doesn't make much sense to me ... but

[2014-01-14 23:36] Pattentrick commented on #117
Update: Even switching the config file from the supercollider demo does nothing. i don't get it oO

[2014-01-15 00:09] collinhover commented on #117
Okay, lets drop any of the changes and go back to the latest dev branch. I'll look at your demo as soon as I get some time tomorrow (we'll assume for now it is an issue specific to your demo).

[2014-01-15 00:23] Pattentrick commented on #117
Ok, sounds great! Although "we" couldn't solve this issue today, it was pretty fun to mess around with the ++ code ;-)

As always thank you for your support! I hope i can repay you someday anyhow for this. By the way, i finished my game today. I will send you a link once i fixed all the open issues i am having.

[2014-01-15 17:53] collinhover commented on #117
Looking through the demo you posted with the firefox issue, I honestly can't find anything in the primary game files that would cause this scaling issue. I also tried a few searches across all of the game code to find some likely causes, and nothing came up.

Lets try something new: change the resize code in plusplus/core/plusplus.js to force a specific scale. Does it work? What if you remove the

[2014-01-16 00:04] Pattentrick commented on #117
Forcing a scale:

Forcing a specific scale will render a really small game (scale 1) in a big, but fully visible, canavs (it seems to be zoomed out ...).

Forcing a scale + remove divide by pixel ratio:

Forcing a specific scale and removing the divide by pixel ratio will render a small (scale 1) game in a big canvas (you have to scroll to get to the game screen).

Just removing the pixel ratio:

[2014-01-16 01:02] collinhover commented on #117
So if I understand you, the master branch does not have the scaling issue? Also, to confirm, the issue is not present in the super collider when you run it with the latest dev, or the super collider that is already online?

It appears the issue is the pixel ratio, which was added to fix retina scaling. It looks like for android it may need to be reversed, using the webkitBackingStorePixelRatio.

[2014-01-16 01:19] Pattentrick commented on #117
The master branch does not have the scaling issue on android, exactly! The supercollider demo that is live under http://collinhover.github.io/impactplusplus/demo/index.html also does not have the scaling issue.

The supercollider demo from the latest dev has the same scaling issue as my game. What makes sense, because they are using the same plusplus.js.

So yes, the added retina fix could be the

[2014-01-16 19:48] collinhover commented on #117
Okay, another trial starting here, https://github.com/collinhover/impactplusplus/blob/dev/lib/plusplus/core/plusplus.js#L252, to:

[code]

My thought is that when the backing store is less than the pixel ratio, we can defer to the backing store with the canvas style.

[2014-01-16 22:39] Pattentrick commented on #117
Editing the plusplus.js as you suggest, results in a veeeery big canvas with a very small game in it.

[2014-01-16 22:58] collinhover commented on #117
What are the window width/height, realWidth/realHeight, and canvas style width/height values in this case?

[2014-01-16 23:13] Pattentrick commented on #117
Here we go:

window width: 910
window height: 408

realWidth: 2730
realHeight: 1224

canvas style width: 2730
canvas style height: 1224

[2014-01-16 23:26] collinhover commented on #117
Thanks, okay once again starting here, https://github.com/collinhover/impactplusplus/blob/dev/lib/plusplus/core/plusplus.js#L252, to:

[code]

[2014-01-16 23:42] Pattentrick commented on #117
Hmmm ... everything gets bigger ...

Here are the values:

window width: 2560
window height: 1148

realWidth: 7680
realHeight: 7680

canvas style width: empty string
canvas style height: empty string

[2014-01-17 00:58] collinhover commented on #117
That shouldn't be happening... can you paste the current resize method in the plusplus.js file (with the most recent edit)?

[2014-01-17 01:06] Pattentrick commented on #117
I'm not sure what you mean. I already pasted the code in the plusplus.js file. Or do you mean at my demo?

[2014-01-17 01:09] Pattentrick commented on #117
In case you meant "paste it here":

``` javascript```
 /**
             * Resizes system and dispatches resize signal.
             * @param {Number} width
             * @param {Number} height
             * @param {Number} scale
             * @param {Boolean} [force=false] whether to force global resize (only do this when absolutely necessary).
             */
            resize: function ( wid

[2014-01-17 01:26] collinhover commented on #117
Yep, just wanted to see exactly what you had for the resize method, and we need to rework it a bit:

[code]

[2014-01-17 01:29] Pattentrick commented on #117
OMFB! YOU MADE IT!

[2014-01-17 01:31] Pattentrick commented on #117
Sorry for the capslock! :D

It works on my android device perfectly. But i don't have a retina device here to test. But as far as i am concerned, everything is good ;-)

[2014-01-17 01:42] collinhover commented on #117
Ping @aroth can you test the system resize method changes just above this post, if you're still working with retina?

[2014-01-17 02:26] aroth commented on #117
Yes. I've been following along. I will test tomorrow and reply back. Excellent work again as always.

[2014-01-18 17:32] Pattentrick opened #118 "Disable transition fade on game start?"
Hi @collinhover!

Is there a way to disable the transition fade, that gets displayed directly after the game has finished loading? I already disabled it between levels in my config like this:

``` javascript```
// show transition between levels
TRANSITION_LEVELS: false,
[code]

[2014-01-18 18:45] collinhover commented on #118
The initial fade is handled by the core/loader, so you'll need to check there. I don't think I considered disabling that fade, so you may need to extend it with your own loader.

[2014-01-19 12:33] Pattentrick commented on #118
Thanks for the info @collinhover! I just overwrote the run method with my own code, works like a charm!

[2014-01-19 12:33] #118 closed, assigned to nobody

[2014-01-19 13:31] Pattentrick opened #119 "Most common performance issues?"
Hi there @collinhover,

i was wondering if you could tell me what the most common performance issues are with impact++? Which featueres should be used carefully because of their high performance cost?

I am asking because some friends of mine were having major framrate drops in firefox, while playing an early version of my latest impact++ game, and i am not sure where to start exactly on fixing th

[2014-01-19 16:06] collinhover commented on #119
This is a really broad question and difficult to answer. How long do the low fps times last? Is there anything specific the player is doing when these things happen? Without know any of these, my first guess would be:

Pathfinding
This might be your issue if your maps have a lot of tiles + you're allowing your pathfinding entities to search infinite distances. Complex pathfinding tries to find the

[2014-01-19 17:07] Pattentrick commented on #119
Thank you for your detailed answer, you are awesome ;-)

I will take a closer look into pathfinding and my UI elements considering your information. The longest fps drop i know of lasts for about 3 minutes. Coincidentally this was recorded (a friend did a let's play on an early version):

http://www.youtube.com/watch?v=FCSSTfDuZrM&t=14m57s

About 14:57. The player enters a new room (a new level is

[2014-01-19 22:02] collinhover commented on #119
If it is a random spike in fps for that long and it fixes itself, I would not expect that to be caused by Impact++. More likely that is the user's computer.

As for the stuttering movement on Firefox, I can take a look at that soon.

In the case of the ghost text bubbles, this is a bad thing, even if they are not drawn. It is a bit like a memory leak, so you want to make sure to clean up things li

[2014-01-19 22:06] Pattentrick commented on #119
I will look at the ghost bubble issue from my end. Thanks for helping!

[2014-01-20 01:05] Pattentrick commented on #119
Basically i am using the conversation entity like this:

``` javascript```
        speak: function( text ){

            var textbubble = ig.game.spawnEntity(ig.EntityConversation, 0, 0);

            textbubble.durationPerLetter = 0.05;

            textbubble.messageMoveToSettings = {
                matchPerformance: true,
                offset: {
                    x: 0,

[2014-01-20 01:27] collinhover commented on #119
Ah, when you said text bubble, I didn't realize you meant conversation entities. The reason the conversation entities don't get removed if interrupted is because they aren't complete. Triggers and conversations are designed to remain alive until triggered and completed. A conversation is not completed until it cycles through all steps, meaning a deactivate call actually resets it and the conversat

[2014-01-21 02:37] Pattentrick commented on #119
Sorry for the misunderstanding! I can't find a despawn-method, or settings for that, on the trigger entity. However killing the existing entity conversations before spawning a new one works for now, without any performance issues in firefox.

Which ist really weird, i don't like problems that fix themself over night. Usally this is a bad sign. Yesterday using this before spawning a new conversatio

[2014-01-21 03:29] collinhover commented on #119
You're right, there is no option for what you need. You may just remove the conversation, and it will clean itself up on remove.

[2014-01-28 05:15] aanfuso opened #120 "Pathfinding"
Hi Collin, I'm trying to figure it how to set up both pathfinders.

I have tried many different ways according to the documentation, but I can not figure out which files need to be added as required, layers to be added. etc.

The player must follow a path, just that.

Great library btw.

[2014-01-28 06:01] collinhover commented on #120
Pathfinding should be enabled by default. You'll want to call the player's `moveTo` method (inherited from the character class), passing in a position or another entity as the first argument. You can also include an options object as the second argument to customize the pathfinding, just check out the comments / docs on the character's `moveTo` method for a full listing of options.

[2014-01-28 11:45] Pattentrick commented on #120
@aanfuso

I had some problems with pathfinding too with my first impact++ game. I did a small EGA point and click adventure where pathfinding is very important:

www.shuchu.de/schreibers-quest/

As collinhover stated above, just use the moveTo method like this for example:

``` javascript```
                /**
                 * this.player is a reference to your character entity.

[2014-01-28 13:19] aanfuso commented on #120
Thank you both, I didn't know that it was enabled by default, great!

I made my player entity inherit/required 'plusplus.abstractities.character' but now the game doesn't start and I'm getting this

[code]

Maybe I'm missing something.

Any thought?

[2014-01-28 13:23] Pattentrick commented on #120
Could you post your player entity code? I am sure this is just a reference/extending problem ;-)

[2014-01-28 13:34] collinhover commented on #120
Thanks for the input @Pattentrick :-)

@aanfuso what line number/function and file is the error coming from?

[2014-01-28 13:38] aanfuso commented on #120
@Pattentrick
Sure
https://gist.github.com/aanfuso/b0d768373662f86fd435

@collinhover collision-map.js:25

[2014-01-28 14:01] collinhover commented on #120
Your player is still extending the original ImpactJS entity in your gist. All your entities should either extend ig.EntityExtended, ig.Character, or ig.Creature. The reason you need to at least extend ig.EntityExtended is that Impact++ makes quite a few core changes to ImpactJS. One of those changes is using helper objects to cut down on garbage, which are missing in your case and throwing errors.

[2014-01-28 14:15] aanfuso commented on #120
Oh, how should I extend my entity?

Should i remove the original ImpactJS entity?

[2014-01-28 14:16] Pattentrick commented on #120
@aanfuso

In case you are wondering how to adopt that beatiful explanation from collinhover, i would do it like this:

``` javascript```
ig.module(
        'game.entities.player'
    )
    .requires(
        'plusplus.abstractities.player',
    )
    .defines(function () {

        var _c  = ig.CONFIG;

        /**
         * Entity that represents a playable character
         *
         * @class

[2014-01-28 14:48] aanfuso commented on #120
Now I get

[code]

I'm not getting it but I do not want to bother you guys, don't worry

[2014-01-28 15:10] collinhover commented on #120
Have you followed the getting started instructions at http://collinhover.github.io/impactplusplus/ig.html?

The error you're getting now is due to a missing signal object in the system, which should be there if you required `'plusplus.core.plusplus'` in your main and are having your game extend `ig.GameExtended`.

[2014-01-28 16:21] aanfuso commented on #120
Ohh, I should have deleted it during a sweep! Now it looks like we're getting closer.

on game.js:1110

[code]

[2014-01-28 16:36] Pattentrick commented on #120
Do all of your entitys extend from ig.EntityExtended?

The player abstractity for instance inherits from the character abstractity, which inherits everything from ig.EntityExtended. Every entity that you spawn, should inherit in some way from ig.EntityExtended.

There is a example folder that came with impact++. Take a look at the jumpnrun demo and how it uses entities, if the link collinhover pro

[2014-01-28 16:53] collinhover commented on #120
@Pattentrick is correct. `ig.EntityExtended` is a core class of Impact++, itself inheriting from ImpactJS's `ig.Entity`.

[2014-01-28 17:15] aanfuso commented on #120
It was one of my other entities which threw the error. Now I'm getting:

On player-manager.js:457

[code]

But I'm have any call to that method on my player.

[2014-01-28 18:13] collinhover commented on #120
`moveToHere` is an instance method of the `ig.Character` class. What class/entity is your player entity extending?

[2014-01-28 18:16] collinhover commented on #120
This may help: https://github.com/collinhover/impactplusplus/blob/master/lib/plusplus/core/player-manager.js#L25-L31. You should also move your input handling code into a `handleInput` method, as it will automatically be called by the player manager.

[2014-01-28 18:39] aanfuso commented on #120
I understood that my player entity must extend

[code]

but does not seem to work.

I changed it the way @Pattentrick said

[code]

And now it's working, but entities has no image and canvas resizes to smaller sizes.

[2014-01-28 18:43] Pattentrick commented on #120
That makes senese, i overlooked the fact that you dont't use the animation setup in your gist as it works in impact++.

Take this for an example:

https://github.com/collinhover/impactplusplus/blob/master/examples/jumpnrun/lib/game/entities/player.js#L42-L159

[2014-01-28 18:46] collinhover commented on #120
Do you have your sprite sheets in the media folder? Are you getting any loading errors in the console?

Impact++ can resize the game canvas to fit the window / fullscreen and/or scale to fit a certain number of pixels in the screen space. It all depends on your user-config file (https://github.com/collinhover/impactplusplus/blob/master/lib/plusplus/config-user.js), where you can define any propert

[2014-01-28 18:48] Pattentrick commented on #120
When using impact++, you have to setup up your animation a little bit different.

The vanilla impact way:

``` javascript```
this.addAnim('idleRight', 0.10, [7])
this.currentAnim = this.anims.idleRight
[code]

[2014-01-28 19:01] aanfuso commented on #120
@collinhover yep the sprite is in the media folder, the example @Pattentrick gave me solves the sprites problems.

Now its just the canvas size

This is the size I defined (800, 600)
![screen shot 2014-01-28 at 4 02 29 pm](https://f.cloud.github.com/assets/1679195/2022514/c5a6fc12-884e-11e3-8890-798466446f3a.png)

This is how it looks after loading the level
![screen shot 2014-01-28 at 4 02 26 pm]

[2014-01-28 19:20] aanfuso commented on #120
@collinhover i have default config-user.js

@Pattentrick how did you get your player to move around the map as it didn't have gravity?

[2014-01-28 19:43] Pattentrick commented on #120
Here is the relevant code of my config-user.js:

``` javascript```
ig.module(
        'plusplus.config-user'
    )
    .defines(function () {

        /**
         * User configuration of Impact++.
         * <span class="alert alert-info"><strong>Tip:</strong> it is recommended to modify this configuration file!</span>
         * @example
         * // in order to add your own custom configuratio

[2014-01-28 19:49] aanfuso commented on #120
@Pattentrick awesome! There is need to use another animSettings for TOP_DOWN ?

[2014-01-28 19:54] Pattentrick commented on #120
You don't need a special animSetting for a top down game, impact++ will take care of that for us.

For example, this is the animSetting of my player, from my point and click adventure:

``` javascript```
        animSettings: {
            idleX: {
                frameTime: 1,
                sequence: [0]
            },
            idleDown : {
                frameTime: 1,
                seque

[2014-01-28 20:06] aanfuso commented on #120
Awesome, work really nice, thanks for everything guys especially for the patience. :joy:

I hope I can contribute a little in the future. :smiley:

[2014-01-28 21:38] collinhover commented on #120
Thanks @Pattentrick, and @aanfuso your scaling issue was caused by the `GAME_WIDTH_VIEW` and `GAME_HEIGHT_VIEW` settings in the config. Just set them to 800 x 600 in your user config and you should be good to go. Alternatively, set the `GAME_WIDTH_PCT` and `GAME_HEIGHT_PCT` to 1 and let Impact++ do the work of keeping the game fullscreen for you =)

[2014-01-28 21:38] #120 closed, assigned to nobody

[2014-02-01 01:59] danielmahon opened #121 "Setting collision map tiles to 8x8 stops all movement."
Not sure why this seems to be happening, I must be missing something. But if I have a 16-30x20 map and set the collision map to 8-60x40 all movements seem to stop. Specifically I only have 1 creature on the map and it does not wander. Any thoughts? If I set the collision map back to the "norm" all is fine.

[2014-02-01 02:05] collinhover commented on #121
Are you using both pathfinding and collision maps? If so, their tile sizes must match.

[2014-02-01 02:08] Pattentrick commented on #121
Damn @collinhover! You was just a few seconds faster than me ;-)

@danielmahon see

https://github.com/collinhover/impactplusplus/blob/dev/lib/plusplus/helpers/pathfinding.js#L46

for details on that. Is there a particular reason for using a different tile size on your pathfinding map?

[2014-02-03 03:04] collinhover commented on #121
Assuming this is fixed unless you tell us otherwise. Hope it is working for you, but feel free to reopen the issue if not!

[2014-02-03 03:04] #121 closed, assigned to nobody

[2014-02-04 04:39] jeremyfry opened #122 "ig.game.isInsideLevel always returns false if "level" is one of the shapesPasses"
To reproduce:
Remove the shapesPasses asignment from main.js in supercollider. Now attempt to fire a projectile, in ability-shoot ig.game.isInsideLevel(x,y) will always return false and cause no projectile to be created.

I tried setting up a bunch of different collision maps to figure out why this was happening but could never be considered "inside the level". I then noticed in both examples shap

[2014-02-04 04:55] collinhover commented on #122
The `isInsideLevel` method is honestly a bit unstable. If your level has a collision map that doesn't form a shape that wraps around the entire level, this check will always fail. The reason being, this does a point in polygon test based on the collision shapes extracted. If your collision map has a gap in it, for example the second level of the SUPERCOLLIDER, it will always think it is outside th

[2014-02-04 05:08] jeremyfry commented on #122
Looks like that corrected it. It looks like I had a one way tile at one point along the perimeter of my collision map. That apparently counts as a gap where as the slopes don't. Changing that tile to a solid collision tile fixed the issue.

[2014-02-04 06:08] collinhover commented on #122
Ah, interesting. I believe the reason I set it that way is because I'm assuming only solid tiles, whether square or sloped, would make a solid shape. One way tiles are a special case that could be either a gap or a wall, and to be safe I always treat it as a gap.

[2014-02-04 06:08] #122 closed, assigned to nobody

[2014-02-04 11:58] Pattentrick opened #123 "Basic examples on how to use impact++"
Hi @ everyone who is interested in ++,

@collinhover and I just had a small discussion about how ++ lacks some kind of basic examples for certain features. I just finished my first game with ++ a while ago, and although I felt in love with ++,  I also had some problems figuring out how to exactly use it.

Yes there are the detailed docs, but they are more a reference to how the methods behind thes

[2014-02-04 12:01] Pattentrick commented on #123
### Pathfinding

So you want to do pathfinding, eh? Okay, but before we start we should cover some basics. First of, pathfinding works best if the entity is <= 3x the tilesize. Also, if you are using a pathfinding map, it must match the tilesize of your collision map. You don't have to require the pathfinding module manually. If you are using an entity that extends a character abstractity, like cr

[2014-02-04 15:09] #117 closed, assigned to nobody

[2014-02-04 15:15] collinhover commented on #123
You're awesome @Pattentrick =)

Pathfinding tutorial looks great, and I don't think it is necessary to talk about all the settings as you can find that in the docs for the `moveTo` method. We probably want to end each post with a section called "Learn More" and link to things in the docs such as: http://collinhover.github.io/impactplusplus/ig.Character.html#moveTo.

When we have time I'd like to a

[2014-02-04 15:41] collinhover commented on #123
#### Getting Started

Welcome to Impact++! Our goal in this tutorial is to get you up and running as fast as possible, without wasting your time whether you're new to ImpactJS or a long time user. Let's break this down into a step-by-step:

###### 1. The HTML file

We'll assume you're starting simple, so make sure you have an `index.html` file in your game's root directory. In this file, you'll ne

[2014-02-04 18:48] Pattentrick commented on #123
Thank you @collinhover :D

I agree with you on adding a "Learn More" section to the tutorials. Good idea! I will edit the text above to include that. Also i may do a picture for selecting the pathfinding tiles/creating a pathfinding map later on.

You did a great start with your 10 step tutorial on how to setup a proper ++ project. Nice one, looks awesome so far! By the way, there is a little typo

[2014-02-04 19:58] Pattentrick opened #124 "Cutting off entities outside the level?"
Hi @collinhover,

i am working on an ingame cutscene right now. This may be a little hard to explain:

http://www.shuchu.de/ssr/

When the bees are leaving the level they don't get "cut off" and are still fully visible. That looks a bit silly. Is this the expected behavior, or could i do something about that? I just could kill the bees, once they reached the level border, but i want them to be "cu

[2014-02-04 20:28] collinhover commented on #124
Haha, poor snail!

There is nothing in place to handle this sort of masking or cropping. The fastest way to handle this would be to create a cropping area yourself as you suggested. If you wanted a more dynamic way to do it, you could do a intersection test with the entity bounding box against the polygon shape of the level (as extracted by the shapesPasses), but this seems extraordinarily expensi

[2014-02-04 20:50] Pattentrick commented on #124
it's not easy these days to be a snail :D

I will do the solution with the foreground layer above the entities layer. Thanks for your advice!

[2014-02-04 20:50] #124 closed, assigned to nobody

[2014-02-04 20:56] Pattentrick commented on #123
Your tutorial is like gold for beginners. Excellent!

[2014-02-04 20:59] collinhover commented on #123
Images look good in the pathfinding tutorial. I'll add these to the docs site as soon as I can, and probably merge the current dev into master as r7 while I'm at it.

[2014-02-05 00:46] aroth commented on #117
Sorry guys, my life literally imploded two weeks ago. Sad stuff. I'll get my head in gear soon enough. Was this truly resolved, or were you waiting on my confirmation?

[2014-02-05 00:50] Pattentrick commented on #119
There is still that strange stuttering on my character in firefox, but i already moved to the next project. So as far as i am concerned we could close this issue ;-)

[2014-02-05 00:50] #119 closed, assigned to nobody

[2014-02-05 01:26] collinhover commented on #117
No worries man, if it isn't resolved someone will post an issue about it. Hope things start going better for you soon!

[2014-02-05 02:23] Pattentrick commented on #123
Glad that you liked the images. I am hoping forward to seeing the new docs online, but don't stress yourself ;-)

The next tutorial i will do is about conversations.

[2014-02-06 03:16] Pattentrick commented on #123
#### Conversations

Wouldn't it be neat, if all your entitys could have conversations with each other? Or if your hero could start an inspiring monologue before confronting the final boss? Or having something like a narration similar in style to a comic book? That sure would be awesome, but it sounds like lots of extra programming work, right?

Good news, everyone! Impact++ has this feature alread

[2014-02-06 03:20] Pattentrick commented on #123
@collinhover I made the conversation tutorial. Feel free to correct me for using some kind of awkward english, or for explaining something wrong. I did not go to deep into details, because i assumed that a dev will look at the docs for further information. I hope that is ok.

[2014-02-06 03:35] aroth commented on #123
Just wanted to chime in and say that you guys rock. This effort is much
needed and will help out so many people.  Once my life gets back on track
I'd love to help out. Impact++ caused me to bang my head on the desk for a
couple of weeks until I finally got it. Collin was incredibly patient and
helpful through the entire process -- an absolute stand-up guy. Thank you
both.

On Wed, Feb 5, 2014 at 1

[2014-02-06 03:49] collinhover commented on #123
@Pattentrick looks great. Only one suggestion: wrap the code you're using in all the examples, such as `myConversationEntity.durationPerLetter = 0.1`

@aroth you're not alone in letting your head meet the desk thanks to impact++ :-)

[2014-02-06 14:24] Pattentrick commented on #123
@collinhover I wrapped all examples in code blocks. I also added another example on how to use specific animations for talking/listening and a sentence here and there. I also appended a link to the trigger entity at the learn more section. Correct me if i have explained something wrong. I still consider myself a beginner in terms of ++ ;-)

Making another tutorial on particles and dynamic light wo

[2014-02-06 17:32] collinhover commented on #123
@Pattentrick setting up a player with a custom ability and input is high on my list, as are the basics of creatures and characters. Lighting is a great one also, and Spawners should probably replace particles.

[2014-02-06 21:46] collinhover commented on #123
#### Player

In this tutorial, we're going to setup a simple side-scrolling player character, make a laser gun ability, and attach some input handlers so we can shoot some bad guys. You can extend this setup into a top-down game by flipping the `TOP_DOWN` config switch. Boom, headshot!

###### Prerequisites

We're assuming you've read at least the Getting Started tutorial and have a game with at l

[2014-02-06 22:50] Pattentrick commented on #123
@collinhover great tutorial! I really liked the "boom headshoot style" ;-)

The information that are present in this tutorial are very useful. You did a great job on that. Learning about the shoot ability and projectiles is especially important for my upcoming shoot em up. You just avoided at least 2-3 issues being posted by me regarding that topic ;-)

I would like to do the lighting tutorial nex

[2014-02-07 00:20] collinhover commented on #123
@Pattentrick no rush, I'm having trouble keeping up with you :-)

[2014-02-07 03:37] Pattentrick opened #125 "Keyboard input skips a step on the conversation entity"
Hi @collinhover,

i noticed that pressing a key will skip a conversation step, when i am using the conversation entity, if auto advance is deactivated. If i am on step 1 and press my defined action key to advance the conversation i will end up with step 3.

I think the problem is this part of the code:

https://github.com/collinhover/impactplusplus/blob/dev/lib/plusplus/entities/conversation.js#L1

[2014-02-07 04:25] collinhover commented on #125
So skipping the released check fixes it and still works for clicks or keys?

[2014-02-07 13:33] Pattentrick commented on #125
Oops, i meant skipping the release action fixes this.

``` javascript```
else if (  ig.input.released( this.action ) ) {
    this.nextStep();
}
[code]

[2014-02-07 14:03] collinhover commented on #125
That's okay, touch and mouse are both handled as a tap action, so it should be fine. I'll add this fix shortly, thanks for finding it :-)

[2014-02-07 14:32] Pattentrick commented on #125
You are welcome @collinhover ;-)

[2014-02-07 14:57] #125 closed, assigned to nobody

[2014-02-08 13:11] flurin opened #126 "Map layer merging fix for distances does not optimally merge layers"
6c80228c9cb4873d2cda69f356123a619c43b155 fixed the issue with wrongly merged layers but now it does not optimally merge all possible layers.

In `layer.js` the fix was as such:

`if ( item.preRender && !item.repeat && ( typeof lastDistance === 'undefined' || item.distance === lastDistance ) ) {`

This however means if you have these layers:

`sky(background, distance=2),
bg(background, distance=1)

[2014-02-08 19:37] collinhover commented on #126
Oops, my fault on this one. Thanks for finding and providing a fix!

[2014-02-08 19:37] #126 closed, assigned to nobody

[2014-02-09 00:32] Pattentrick opened #128 "Game crashes on dynamic light with pixel perfect scaling"
Hi @collinhover,

i just noticed that the game crashes if i use dynamic lights/shadows and pixel perfect scaling. You can reproduce this issue when you set `pixelPerfect: true` to the fourth light on the `lighting.js` at the SUPERCOLLIDER demo.

I made a picture of what is happening on a testing level with just one light:

![crash](https://f.cloud.github.com/assets/1792087/2118789/2179a578-9121-11

[2014-02-09 00:36] Pattentrick commented on #128
Update: This only occurs with `castsShadowsMovable`, static map shadows are fine.

[2014-02-09 00:50] collinhover commented on #128
This looks like a bug indeed. Can you see if putting an existence check in the image's resize method fixes it?

That said, I'd recommend never using dynamic shadows with pixel perfect lights. There is no way you'll get more than maybe 2-5 fps, as it has to be scaled per pixel on the cpu constantly using the canvas `getImageData` methods. If we could offload it to the gpu, it'd be another story ent

[2014-02-09 01:52] Pattentrick commented on #128
Not sure about the existence check. I checked the `scaledPixels` and the `origPixels`  around here with no results:

https://github.com/collinhover/impactplusplus/blob/dev/lib/plusplus/core/image.js#L253

I am working on the dynamic lighting tutorial right know. I will note there that movable shadows won't work together with perfect pixel lights, if that is ok with you. It's really a pity though,

[2014-02-09 02:07] aroth commented on #128
The real pity of ImpactJS is the lack of texture memory management for high
resolution games on iOS devices, but I'm not in my right mind at the
moment. Again, great work guys. Your pace reminds me of..... myself about 2
months ago. Ignore this diatribe. It'll be part of my story in a couple
months. I'll post a video of what I've created shortly. Again, I know this
doesn't belong in this thread, b

[2014-02-09 14:05] Pattentrick commented on #123
#### Dynamic Lights

One of the many awesome things that Impact++ has to offer, are dynamic lights that can be used right out of the box. You can cast static shadows which are based upon your collision map and dynamic ones for moving entities. You can change the colour of your light to a specific value, modify it's opacity, and use a pixel perfect rendering for your cone of light. You could even c

[2014-02-09 14:06] Pattentrick commented on #123
Hi @collinhover,

I just made the lighting tutorial.  This was the first tutorial I did on a ++ feature that I did not use before. But everything I explained should work that way, since I did every step for myself to provide some pictures.

As always feel free to correct me if I explained something wrong or used some engrish.

I tend to use sometimes german sayings that don't make much sense in en

[2014-02-09 15:29] collinhover commented on #123
@Pattentrick awesome job! I have no suggestions for this one, really well done. I actually had forgotten about the camera, good idea. Those German English sayings are bizarre, what is the story behind that?

[2014-02-09 15:57] Pattentrick commented on #123
Glad you liked the tutorial :D

Because the german and the english syntax is quite similar, and some words sound a like, some germans tend to speak english like they would german, and just swap some words. That works most of the time, as you can see with my posts, but sometimes that approach fails hard. Especially with sayings.

For example the meaning of "unter aller Sau" is "very awful". So the

[2014-02-09 16:05] collinhover commented on #123
That's actually pretty cool. I didn't realize German was similar in those ways.

[2014-02-10 22:47] Pattentrick commented on #128
@collinhover Do you think it's a good idea, and possible without rewriting much of the code, to alter the lighting entity in such a way that it doesn't cast any shadows on other entities, if it's a pixel perfect light? I could give it a try within the next couple of days and sent a pull request if i succeed.

@aroth Looking forward to that video ;-)

[2014-02-10 23:00] collinhover commented on #128
@Pattentrick yes, we'd likely just need a check in the light's shadow casting method.

[2014-02-10 23:02] Pattentrick commented on #128
@collinhover Ok, i will give it a try then later on.

[2014-02-11 13:54] Pattentrick opened #129 "Jittery Entity Movement"
Hi @collinhover,

Please take a look at this:

http://www.shuchu.de/ssr

The movement of the snail and the UFO is a bit jittery, although the game runs on 75 FPS on my PC. I am just calling once the `moveToUp` and the `moveToRight` method.

The `vel` and the `accel` of both entities is stable (no sudden changes on any frame). So i suppose it has something to do with the image drawing? This occurs

[2014-02-11 17:47] #128 closed, assigned to nobody

[2014-02-11 17:50] collinhover commented on #129
Do you have a link to the source so I can do some digging? The movement looks fine on my phone.

[2014-02-11 18:12] Pattentrick commented on #129
You can have a look at the source here:

https://github.com/Pattentrick/jittery-movement

If you can't reproduce this problem on your pc, this might be related to my system. Thanks for your help!

[2014-02-11 18:21] Pattentrick commented on #117
@collinhover I just noticed that your fix for this is not part of the dev branch at the moment. Do you plan to add this fix (it worked well in my case) to the dev? I could do a pull request if you like (don't know if that is easier for you, than edit the code and commit it for yourself)

[2014-02-11 22:39] collinhover commented on #117
@Pattentrick thanks for the reminder, thought I'd already done it!

[2014-02-11 22:45] collinhover commented on #129
Hmm, I'm noticing a bit of jitter on Firefox, but Chrome and IE look fine. Is this the same issue you found in #119?

[2014-02-11 22:46] collinhover commented on #129
On a side note, how are you hitting 75 fps? I've always thought 60 fps was the requestAnimationFrame limit, but I may be misinformed!

[2014-02-11 23:16] Pattentrick commented on #129
Yes, that's the same issue. On my system the jitter on Firefox is the most noticeable. On Chrome and IE it's still there, but you have to look more closely to see it.

I do always get 75 FPS on Chrome and Firefox with impact++. Thought it had something to do with your improvements to impact ;-)

All i do is this:

``` javascript```
// Start up game
ig.main(
    '#canvas',
    introScene1,
    60,

[2014-02-13 19:57] collinhover commented on #129
You're right about the fps parameter, it does nothing... something that was never removed from ImpactJS. A few more testing results: when testing this on FF, I noticed a lot of system lag in the debug performance tab. I don't want to blame the jitter on system lag, but after updating to the latest FF, the system lag is gone and so is the jittery movement. I'm not noticing any jitter in playbioflee

[2014-02-13 20:08] danielmahon opened #131 "How to sortBy POS_Y?"
I cant seem to figure out how to sort by POS_Y properly in ++. Where do I define the sortBy method? Every way I have tried throws a "cannot read prop y of undefined" error.

[2014-02-13 20:35] Pattentrick commented on #131
Not sure about that, but have you tried:

``` javascript```
this.sortBy = ig.Game.SORT.POS_Y;
[code]

[2014-02-13 20:44] danielmahon commented on #131
ok, no more error (need to put after parent call...duh) but the entities still arent sorting...